<link
rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<nav class="navbar">
  <div class="hamburger-menu">
    <span class="material-symbols-outlined" id="menu-icon"> menu </span>
    <div class="menu-content" id="menu-content">
      <a href="/">Communities</a>
      <a href="/jobs">Openings</a>

      <% if (user) { %>
      <a href="/post/create">Create Post</a>
      <a class="nav-text" href="/profile/<%= user.username %>">Profile</a>
      <form
      id="logoutForm"
      action="/logout?_method=DELETE"
      method="POST"
      style="display: none"
    ></form>
    <a
      href="#"
      onclick="document.getElementById('logoutForm').submit();"
    >Logout</a>
        <% } else { %> 
			<a href="/login">Login</a>
<% } %>
    </div>
  </div>
  <div class="logo">
    <a href="/"> <img src="/img/core.png" alt="CORE" /> </a>
    <div class="nav-text-container">
      <% if (user) { %>
      <a class="nav-text" href="/profile/<%= user.username %>"><%= user.username %></a></a
      >@<a class="nav-text" href="/">CORE</a>/<%= pagePath %> <% } else { %>
      <a class="nav-text" href="/login">user</a>@<a class="nav-text" href="/"
        >CORE</a
      >/<%= pagePath %> <% } %>
    </div>
  </div>

  <ul class="nav-links">
    <li>
      <a href="/" class="navbar-button <%= currentPath === '/' ? 'active' : '' %>">
          <span class="material-symbols-outlined" id="nb-icon"> forum </span>
        Community
      </a>
    </li>
    <li>
      <a href="/jobs" class="navbar-button <%= currentPath === '/jobs' ? 'active' : '' %>">
      <span class="material-symbols-outlined" id="nb-icon"> work </span>Openings</a
      >
    </li>
    <li>
      <% if (user) { %>
      <a href="/learning" class="navbar-button <%= currentPath === '/learning' ? 'active' : '' %>">
        <span class="material-symbols-outlined" id="nb-icon"> school </span
        >Learning</a
      >
      <% } else { %> <% } %>
    </li>
    <li>
      <% if (user) { %> <% } else { %>
      <a href="/login" class="navbar-button <%= currentPath === '/login' ? 'active' : '' %>">
        <span class="material-symbols-outlined" id="nb-icon"> login </span
        >Login</a
      >
      <% } %>
    </li>
    <li>
      <% if (user) { %>
        <a href="/profile/<%= user.username %>"
           class="navbar-button <%= currentPath.startsWith('/profile') ? 'active' : '' %>">
          <span class="material-symbols-outlined" id="nb-icon"> person </span>Profile
        </a>
      <% } %>
    </li>
    
    <li>
      <% if (user) { %>
      <form
        id="logoutForm"
        action="/logout?_method=DELETE"
        method="POST"
        style="display: none"
      ></form>
      <a
        href="#"
        class="navbar-button <%= currentPath === '/logout' ? 'active' : '' %>"
        onclick="document.getElementById('logoutForm').submit();"
      >
        <span class="material-symbols-outlined" id="nb-icon"> logout </span
        >Logout
      </a>
      <% } else { %> <% } %>
    </li>
  </ul>
</nav>

<script>
  document.getElementById("menu-icon").onclick = function () {
    var content = document.getElementById("menu-content");
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  };
</script>
