<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
<nav class="navbar">
  <%
    const isActive = (path) => {
      return currentPath === path || currentPath.startsWith(`${path}/`);
    };
    %>
  <div class="nav-bar">
    <div class="logo">
      <div class="logo-img">
        <a href="/"> <img class="core-header-img" src="/img/core.png" alt="CORE" /> </a>
      </div>
      <div class="nav-text-and-user-btns">
        <div class="nav-text-container">
          <% function getTintFromName(name) {
              let hash = 0;
              for (let i = 0; i < name.length; i++) {
                hash = name.charCodeAt(i) + ((hash << 18) - hash);
              }
              const color = (hash & 0x00FFFFFF).toString(16).toUpperCase();
              const tintColor = `#${color}95`; 
              return tintColor;
            }
            let navText = '‎ ';
            let user = locals.user; 
            let communityId = locals.communityId;
            let postUser = locals.post && locals.post.user && locals.post.user.username ? locals.post.user.username : null;
            let otherUser = locals.otheruser;
            let navbarTint = '';

            if (locals.community) {
              navbarTint = locals.community.community_color;
            }%>
          CORE
        </div>

        <div class="nav-btns">
          <ul class="nav-links">
            <li>
              <a href="/" class="navbar-button <%= currentPath === '/' ? 'active' : '' %>">
                <span class="material-symbols-outlined">
                  home
                </span>
                Home
              </a>
            </li>
            <li>
              <a href="/networks" class="navbar-button <%= currentPath === '/networks' ? 'active' : '' %>">
                <span class="material-symbols-outlined">
                  hub
                </span>
                Networks
              </a>
            </li>
            <li>
              <a href="/jobs" class="navbar-button <%= currentPath === '/jobs' ? 'active' : '' %>">
                <span class="material-symbols-outlined">
                  work
                </span>
                Openings</a>
            </li>

          </ul>
        </div>
      </div>

    </div>
    <div class="flex flex-row w-100 flex-end">
      <div class="hamburger-menu h-100 flex h-center">

        <div class="menu-wrapper">
          <button id="menu-button" class="menu-button">
            <div class="menu-bar top-bar flex"></div>
            <div class="menu-bar middle-bar"></div>
            <div class="menu-bar bottom-bar"></div>
          </button>
        </div>
        <button id="expandSearch" class="search-button">
        </button>
        <div class="menu-content" id="menu-content">
          <% if (user && user.avatar) { %>

          <div class="flex flex-col w-100">
            <div class="flex flex-col">
              <div class="flex flex-row v-center w-100 gap-06 adaptive-border px-2 py-1 margin-1-bottom">
                <img src="<%= user.avatar %>" alt="Avatar" class="thumbnail thumbnail-regular thumbnail-micro">
                <div class="flex flex-col">
                  <p class="mini-text bold"><%= user.firstname %> <%= user.lastname %></p>
                  <p class="mini-text secondary-text"><%= user.username %></p>
                </div>
                <div class="ml-auto px-2 py-2 clickable">
                  <a class="clickable mini-text bold" href="/user/<%= user.username %>">
                    Profile
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col margin-06-bottom">
            <a class="<%= isActive('/notifications') ? 'active primary-text' : 'secondary-text' %>" href="/notifications">
              <div class="menu-item mini-text relative px-2 py-3">
                <span class="material-symbols-outlined" id="menu-community-icon">
                  notifications
                </span>
                Notifications
                <span id="unreadCount" class="counter ml-auto"></span>

              </div>
            </a>
            <a class="<%= isActive('/favorites') ? 'active primary-text' : 'secondary-text' %>" href="/favorites">
              <div class="menu-item mini-text px-2 py-3">
                <span class="material-symbols-outlined" id="menu-community-icon">
                  star
                </span>
                Favorites
              </div>
            </a>
            <a href="/settings" class="<%= isActive('/settings') ? 'active primary-text' : 'secondary-text' %>">
              <div class="menu-item mini-text px-2 py-3">
                <span class="material-symbols-outlined" id="menu-community-icon">
                  settings
                </span>
                Settings
              </div>
            </a>
            <a href="#" onclick="document.getElementById('logoutForm').submit()">
              <div class="menu-item mini-text primary-text cancel-button-text px-2 py-3">
                <span class="material-symbols-outlined cancel-button-text" id="menu-community-icon">
                  logout
                </span>
                Logout
              </div>
            </a>
          </div>

          <% } %>


          <div class="flex">
            <div class="mobile-menu-header sub-text">
              <h4 class="mini-text third-text margin-06-bottom">Navigation</h4>
            </div>
          </div>

          <a href="/" class="<%= isActive('/') ? 'active primary-text' : 'secondary-text' %>">
            <div class="menu-item mini-text px-2 py-3">
              <span class="material-symbols-outlined" id="menu-community-icon">
                home
              </span>
              Home
            </div>
          </a>

          <a href="/jobs" class="<%= isActive('/jobs') ? 'active primary-text' : 'secondary-text' %>">
            <div class="menu-item mini-text px-2 py-3">
              <span class="material-symbols-outlined" id="menu-community-icon">
                work
              </span>
              Openings
            </div>
          </a>
          <details>
            <summary>
              <a class="<%= isActive('/networks') ? 'active primary-text' : 'secondary-text' %>">

                <div class="menu-item mini-text px-2 py-3">
                  <span class="material-symbols-outlined" id="menu-community-icon">
                    workspaces
                  </span>
                  Networks

                </div>
              </a>

            </summary>
            <div class="mobile-communities-container">
            </div>
          </details>
          <a href="/updates" class="<%= isActive('/updates') ? 'active primary-text' : 'secondary-text' %>">
            <div class="menu-item mini-text px-2 py-3">
              <span class="material-symbols-outlined" id="menu-community-icon">
                update
              </span>
              Updates

            </div>
          </a>


          <% if (user) { %>
          <form id="logoutForm" action="/logout?_method=DELETE" method="POST" style="display: none"></form>
          <a href="/feedback" class="<%= isActive('/feedback') ? 'active primary-text' : 'secondary-text' %>">
            <div class="menu-item mini-text px-2 py-3">
              <span class="material-symbols-outlined" id="menu-community-icon">
                feedback
              </span>
              Feedback

            </div>
          </a>
          <% } %>
          <a href="/about" class="<%= isActive('/about') ? 'active primary-text' : 'secondary-text' %>">
            <div class="menu-item mini-text px-2 py-3">
              <span class="material-symbols-outlined" id="menu-community-icon">
                info
              </span>
              About

            </div>
          </a>

          <div class="mobile-menu-header sub-text">
            <h4 class="mini-text third-text margin-06-bottom">Trending Posts</h4>
          </div>
          <div class="mobile-trending-posts">
          </div>
        </div>

        <div id="overlay"></div>
      </div>
      <div id="mobileSearchResults" class="search-results-container"></div>

      <div class="user-btns flex v-center h-100">
        <ul class="user-links flex-row  gap-06">
          <li id="search-toggle-button" style="width: auto">
            <button type="button" class="no-bg no-border no-padding">
              <span id="nb-icon" class="material-symbols-outlined primary-text">
                search
              </span>
            </button>
          </li>

          <li class="navigation-avatar">
            <% if (user && user.avatar) { %>
            <div class="nav-avatar">
              <img src="<%= user.avatar %>" alt="Avatar" class="user-avatar" id="user-avatar" onclick="window.location.href='/user/<%= user.username %>'" />
              <div class="avatar-online-status" style="background: <% if (user.profile_border_color) { %>#5fb968<% } else { %>#5fb968<% } %>;height: 7px;width: 7px;z-index: 10;border-radius: 6px;position: absolute;bottom: 0;right: 0;"> </div>
            </div>
            <% } else if (user && !user.avatar) { %>
            <div class="nav-avatar">
              <a href="/user/<%= user.username %>" class="inbox-button">
                <span class="material-symbols-outlined" id="nb-icon">
                  account_circle
                </span>
              </a>
            </div>
            <% } else if (!user) { %>
            <div class="nav-avatar">
              <a href="/login">
                <button class="regular-button-normal mini-button mini-text flex flex-row v-center px-2">
                  Sign in
                </button>
              </a>
            </div>
            <% } %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="second-nav-bar">
    <div class="second-nav-btns">
      <ul class="second-nav-links">
        <li class="dropdown">
          <% 
    const pathTitles = {
      '/': 'Home',
      '/jobs': 'Openings',
      '/updates': 'Updates',
      '/c': 'Communities',
      '/favorites': 'Favorites',
      '/create': 'Create',
      '/notifications': 'Notifications',
      '/posts': 'Community',
      '/login': 'Login',
      '/register': 'Register',
      '/edit-experience': 'Edit Experience',
      '/about': 'About',
      '/privacy': 'Privacy Policy',
      '/search': 'Search',
      '/settings': "Settings"
    };

    const getTitle = (path) => {
      if (path === '/' && typeof post !== 'undefined') {
        return `Community / ${post.community.shortname}`;
          } else if (path.startsWith('/about')) {
        return 'About';
      } else if (path.startsWith('/privacy')) {
        return 'Privacy Policy';
      } else if (path.startsWith('/user/') && typeof otheruser !== 'undefined') {
        if (path.includes('followers') || path.includes('following')) {
          return `@${otheruser.username} / ${path.includes('followers') ? 'Followers' : 'Following'}`;
        } else {
          return `@${otheruser.username} / ${otheruser.firstname} ${otheruser.lastname}`;
        }
      }  else if (path.startsWith('/search') && typeof searchTerm !== 'undefined') {
        return `Search / ${searchTerm}`;
      }
      else if (path.startsWith('/networks/') && typeof community !== 'undefined') {
        return `/${community.shortname}`;
      } else if (path.startsWith('/jobs/') && typeof job !== 'undefined') {
        return `Openings / ${job.title}`;
      } else if (path.startsWith('/posts/') && path.includes('edit') && typeof post !== 'undefined') {
        return `Edit / ${post.title}`;
      } else if (path.startsWith('/posts/') && typeof post !== 'undefined') {
        return `${post.community.shortname} / ${post.username}`;
      } else if (path.startsWith('/tags/') && typeof tag !== 'undefined') {
        return `${tag}`;
      } else if (path.startsWith('/edit-experience')) {
        return 'Edit Experience';
      } else {
        return pathTitles[path] || 'Navigation';
      }
    };

    %>

          <a href="/" class="navbar-button <%= isActive('/') ? 'active' : '' %>" style="display: flex;">
            <span class="material-symbols-outlined">
              home
            </span>
            Home
          </a>
        </li>
        <li class="dropdown">
          <% if (isActive('/posts') && typeof post !== 'undefined' && typeof post.community !== 'undefined') { %>
          <span class="community-preview" style="color: <%= post.community.community_color %>">
            <span class="material-symbols-outlined" style="color: <%= post.community.community_color %>;">
              <%= post.community.mini_icon %>
            </span>
          </span>
          <% } %>

          <% if (isActive('/networks') && typeof community !== 'undefined') { %>
          <span class="community-preview" style="color: <%= community.community_color %>">
            <span class="material-symbols-outlined" style="color: <%= community.community_color %>;">
              <%= community.mini_icon %>
            </span>
          </span>
          <% } %>

          <a href="/networks/" class="navbar-button <%= (isActive('/networks') || (isActive('/posts') && typeof post !== 'undefined')) ? 'active' : '' %>" style="border-color:<%= (isActive('/posts') && typeof post !== 'undefined' && typeof post.community !== 'undefined') ? post.community.community_color : (isActive('/networks') && typeof community !== 'undefined' ? community.community_color : '') %>; display: flex;">
            <% if ((isActive('/networks') && typeof community !== 'undefined') || (isActive('/posts') && typeof post !== 'undefined' && typeof post.community !== 'undefined')) { %>
            <span class="material-symbols-outlined hidden">
              workspaces
            </span>
            <% } else { %>
            <span class="material-symbols-outlined">
              workspaces
            </span>
            <% } %>
            Networks
          </a>
        </li>
        <li class="dropdown">
          <% if (isActive('/jobs') && (typeof job !== 'undefined' || typeof company !== 'undefined')) { %>
          <span class="community-preview secondary-text">
            <img src="<%= typeof job !== 'undefined' ? job.company_logo : company.logo %>" style="height: 16px;">
          </span>
          <% } %>
          <a href="/jobs" class="navbar-button <%= isActive('/jobs') ? 'active' : '' %>" style="display: flex;">
            <span class="material-symbols-outlined">
              work
            </span>
            Openings
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="latest-commit-banner" id="latestCommitBanner" style="display: none;">
  <div class="latest-commit-info">
    <div class="latest-commit-main">
      <span class="latest-commit-message"></span>
    </div>
    <button id="closeCommitBanner">
      <span class="material-symbols-outlined">close</span>
    </button>
  </div>
</div>
<div class="search-bar adaptive-main adaptive-border-bottom" id="search-bar-div">
  <div class="search-bar-container">
    <form action="/search" method="GET" id="search-form">
      <button id="search-back-button" class="search-back-button" type="button">
        <span class="adaptive-text material-symbols-outlined">arrow_back</span>
      </button>
      <input type="text" name="searchTerm" id="search-bar" placeholder="Search" autocomplete="off" />
    </form>
  </div>
  <div id="search-results" class="search-results" style="display: none;"></div>
</div>
<div class="overlay" id="search-overlay"></div>
<style>
  .search-bar {
    display: none;
  }

  .overlay {
    display: none;
  }

  <% if (navbarTint) {
    %>.navbar {
      border-color: <%=navbarTint %>b5;
    }

    #community-header-text {
      color: <%=navbarTint %> !important;
    }

    #community-header-text:hover {
      color: <%=navbarTint %> !important;
    }


    .comm-short-title {
      color: <%=navbarTint %> !important;
    }


    #community-header-text:hover {
      color: <%=navbarTint %> !important;
    }

    .nested-comment>.comment {
      border-color: <%=navbarTint %>4d !important;
    }

    <%
  }

  %>
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
  const searchBar = document.getElementById('search-bar');
  const searchResults = document.getElementById('search-results');
  const searchForm = document.getElementById('search-form');

  let debounceTimer;

  searchBar.addEventListener('input', function () {
    clearTimeout(debounceTimer);
    debounceTimer = setTimeout(() => {
      const searchTerm = this.value.trim();
      if (searchTerm.length > 1) {
        fetchAutocompleteResults(searchTerm);
      } else {
        searchResults.style.display = 'none';
      }
    }, 300);
  });

  searchForm.addEventListener('submit', function (e) {
    e.preventDefault();
    const searchTerm = searchBar.value.trim();
    if (searchTerm) {
      window.location.href = `/search?searchTerm=${encodeURIComponent(searchTerm)}`;
    }
  });

  async function fetchAutocompleteResults(searchTerm) {
    try {
      const response = await axios.get(`/autocomplete/all?term=${encodeURIComponent(searchTerm)}`);
      const data = response.data;
      console.log(data);
      displayAutocompleteResults(data);
    } catch (error) {
      console.error('Error fetching autocomplete results:', error);
    }
  }

  function displayAutocompleteResults(data) {
    searchResults.innerHTML = '';
    let resultsHtml = '';

    // Display top results (assuming 3 from each category)
    const categories = ['users', 'posts', 'jobs', 'communities', 'companies'];
    categories.forEach(category => {
      const items = data[category].slice(0, 3);
      items.forEach(item => {
        let name = item.name || item.title || item.firstname + ' ' + item.lastname || item.username;

        if (!name) {
          name = item.username;
        }

        let id = category === 'users' ? item.username : item.id;
        resultsHtml += `
        <div data-id="${id}" data-category="${category}" class="search-result-item">
        <img src="${item.avatar || item.logo || '/img/glyph.png'}" alt="Avatar" class="thumbnail thumbnail-regular thumbnail-micro" />
        ${name}
        </div>`;
      });
    });

    // Add category options
    resultsHtml += `
                <div class="search-categories">
                    <span class="search-category" data-category="posts">Posts</span>
                    <span class="search-category" data-category="companies">Companies</span>
                    <span class="search-category" data-category="users">Users</span>
                    <span class="search-category" data-category="jobs">Jobs</span>
                </div>
            `;

    searchResults.innerHTML = resultsHtml;
    searchResults.style.display = 'block';

    // Add event listeners for category options
    document.querySelectorAll('.search-category').forEach(category => {
      category.addEventListener('click', function () {
        const selectedCategory = this.getAttribute('data-category');
        window.location.href = `/search?searchTerm=${encodeURIComponent(searchBar.value)}&category=${selectedCategory}`;
      });
    });

    // Add event listeners for result items
    document.querySelectorAll('.search-result-item').forEach(item => {
      item.addEventListener('click', function () {
        const id = this.getAttribute('data-id');
        const name = this.textContent;
        const category = this.getAttribute('data-category');
        let url = '';
        if (category === 'users') {
          url = `/user/${id}`;
        } else if (category === 'posts') {
          url = `/posts/${id}`;
        } else if (category === 'jobs') {
          url = `/jobs/${id}`;
        } else if (category === 'communities') {
          url = `/networks/${id}`;
        } else if (category === 'companies') {
          url = `/jobs/company/${encodeURIComponent(name.trim())}`;
        }
        window.location.href = url;
      });
    });
  }

  // Close search results when clicking outside
  document.addEventListener('click', function (event) {
    if (!searchBar.contains(event.target) && !searchResults.contains(event.target)) {
      searchResults.style.display = 'none';
    }
  });

  function checkFollowing(userId) {
    fetch(`/users/${userId}/is-following`)
      .then(response => response.json())
      .then(data => {
        const followButton = document.querySelector(`button[onclick="followUser('${userId}')"]`);
        if (followButton) {
          if (data.isFollowing) {
            followButton.innerHTML = '<span class="material-symbols-outlined">close</span><p class="bold">Unfollow</p>';
            followButton.classList.remove('submit-button-normal');
            followButton.classList.add('cancel-button-normal');
          } else {
            followButton.innerHTML = '<span class="material-symbols-outlined">person_add</span><p class="bold">Follow</p>';
            followButton.classList.remove('cancel-button-normal');
            followButton.classList.add('submit-button-normal');
          }
        }
      })
      .catch(error => {
        console.error('Error checking follow status:', error);
      });
  }

  function followUser(username) {
    fetch(`/users/${username}/follow`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      })
      .then(response => response.json())
      .then(data => {
        if (data) {
          const followButton = document.querySelector(`button[onclick="followUser('${username}')"]`);
          if (data.following === true) {
            showBannerNotification('User followed successfully');
            followButton.innerHTML = '<span class="material-symbols-outlined">close</span>Unfollow';
          } else {
            showBannerNotification('User unfollowed successfully');
            followButton.innerHTML = '<span class="material-symbols-outlined">person_add</span>Follow';

          }
        }
      })
      .catch(error => {
        console.error('Error:', error);
        showBannerNotification('An error occurred while following user');
      });
  }

  async function share(title, text, url, type = null, id = null) {
    const shareData = {
      title,
      text,
      url
    };

    try {
      if (type && id) {
        const response = await fetch(`/api/${type}/${id}/share`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
        });
        if (!response.ok) throw new Error('Failed to increment share count');
        const data = await response.json();
        console.log(`${type.charAt(0).toUpperCase() + type.slice(1)} share count updated:`, data.newShareCount);
      }

      if (navigator.share) {
        await navigator.share(shareData);
        console.log('Content shared successfully');
      } else if (navigator.clipboard && navigator.clipboard.writeText) {
        await navigator.clipboard.writeText(url);
        alert('Content URL copied to clipboard!');
      } else {
        const textArea = document.createElement('textarea');
        textArea.value = url;
        textArea.style.cssText = 'position:fixed;opacity:0;';
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();
        const successful = document.execCommand('copy');
        document.body.removeChild(textArea);
        if (!successful) throw new Error('Failed to copy');
        alert('Content URL copied to clipboard!');
      }
    } catch (error) {
      console.error('Error sharing content:', error);
    }
  }

  let bannerTimeout;

  function showBannerNotification(message, duration = 7000) {
    const banner = document.getElementById("latestCommitBanner");
    const messageElement = banner.querySelector(".latest-commit-message");

    messageElement.textContent = message;
    banner.style.display = "block"; // Show the banner

    // Clear any existing timeout
    if (bannerTimeout) {
      clearTimeout(bannerTimeout);
    }

    // Set up auto-hide if duration is provided
    if (duration > 0) {
      bannerTimeout = setTimeout(() => {
        hideBanner();
      }, duration);
    }

    // Add click event listener to the banner itself for manual dismissal
    banner.onclick = hideBanner;
  }

  function hideBanner() {
    const banner = document.getElementById("latestCommitBanner");
    banner.style.display = "none";

    // Remove the click event listener from the banner
    banner.onclick = null;

    // Clear the timeout if it exists
    if (bannerTimeout) {
      clearTimeout(bannerTimeout);
    }
  }

  function getTrendingPosts() {

    const isMobile = window.matchMedia("only screen and (max-width: 768px)").matches;
    let trendingPostsContainer;
    if (!isMobile) {
      trendingPostsContainer = document.querySelector('.desktop-trending-posts');
    } else {
      trendingPostsContainer = document.querySelector('.mobile-trending-posts');
    }

    // Check if the container already has content
    if (trendingPostsContainer.children.length > 0) {
      return;
    }



    fetch('/api/trending-posts') // Adjust this to your server's endpoint
      .then(response => response.json())
      .then(posts => {
        const isMobile = window.matchMedia("only screen and (max-width: 768px)").matches;
        let trendingPostsContainer;
        if (!isMobile) {
          trendingPostsContainer = document.querySelector('.desktop-trending-posts');
        } else {
          trendingPostsContainer = document.querySelector('.mobile-trending-posts');
        }
        trendingPostsContainer.innerHTML = ''; // Clear existing posts

        posts.forEach(trending_post => {
          const postElement = document.createElement('div');
          postElement.className = 'trending-post';
          postElement.onclick = () => {
            window.location.href = `/posts/${trending_post.id}`;
          };

          // Add content to postElement here. Example:
          postElement.innerHTML = `
                <div class="trending-info sub-text">
                  ${trending_post.views}
                <span class="material-symbols-outlined" style="color: var(--active-indicator-color);">
      visibility
      </span> 
      </div>
                <div class="trending-post-content">
                                        <div class="main-text"><p>${trending_post.title} </p> </div>

                  <div class="trending-post-user-info third-text">
                    <p class="sub-text third-text"><strong>${(trending_post.firstname && trending_post.lastname) ? `${trending_post.firstname.charAt(0).toUpperCase() + trending_post.firstname.slice(1).toLowerCase()} ${trending_post.lastname.charAt(0).toUpperCase() + trending_post.lastname.slice(1).toLowerCase()}` : `@${trending_post.username}`}</strong> <span class="sub-text" style="color:${trending_post.community_color}">/${trending_post.community_name}</span></p>
                    </div>

                </div>

            `;

          trendingPostsContainer.appendChild(postElement);
        });
      })
      .catch(error => console.error('Error fetching trending posts:', error));
  }

  const stateMappings = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
    'District of Columbia': 'DC',
  };

  const countryMappings = {
    'United States': 'USA',
    'United Kingdom': 'UK',
    'Canada': 'CAN',
    'Australia': 'AUS',
    'Germany': 'DEU',
    'France': 'FRA',
    'Japan': 'JPN',
    'China': 'CHN',
    'India': 'IND',
    'Brazil': 'BRA',
    'Russia': 'RUS',
    'South Korea': 'KOR',
    'Italy': 'ITA',
    'Spain': 'ESP',
    'Mexico': 'MEX',
    'Netherlands': 'NLD',
    'Saudi Arabia': 'SAU',
    'Turkey': 'TUR',
    'Switzerland': 'CHE',
    'Argentina': 'ARG',
    'South Africa': 'ZAF',
    'Sweden': 'SWE',
    'Belgium': 'BEL',
    'Norway': 'NOR',
    'Austria': 'AUT',
    'Denmark': 'DNK',
    'Finland': 'FIN',
    'Greece': 'GRC',
    'Ireland': 'IRL',
    'Portugal': 'PRT',
    'Poland': 'POL',
    'Czech Republic': 'CZE',
    'Hungary': 'HUN',
    'New Zealand': 'NZL',
    'Singapore': 'SGP',
    'Malaysia': 'MYS',
    'Philippines': 'PHL',
    'Thailand': 'THA',
    'Indonesia': 'IDN',
    'Vietnam': 'VNM',
    'Israel': 'ISR',
    'United Arab Emirates': 'ARE',
    'Chile': 'CHL',
    'Colombia': 'COL',
    'Peru': 'PER',
    'Pakistan': 'PAK',
    'Bangladesh': 'BGD',
    'Nigeria': 'NGA',
    'Egypt': 'EGY',
    'Ukraine': 'UKR',
    'Romania': 'ROU',
    'Kazakhstan': 'KAZ',
    'Qatar': 'QAT',
    'Kuwait': 'KWT',
    'Bulgaria': 'BGR',
    'Croatia': 'HRV',
    'Lithuania': 'LTU',
    'Slovakia': 'SVK',
    'Slovenia': 'SVN',
    'Latvia': 'LVA',
    'Estonia': 'EST',
    'Luxembourg': 'LUX',
    'Iceland': 'ISL',
    'Malta': 'MLT',
    'Cyprus': 'CYP',
    'Serbia': 'SRB',
    'Montenegro': 'MNE',
    'North Macedonia': 'MKD',
    'Bosnia and Herzegovina': 'BIH',
    'Albania': 'ALB',
    'Georgia': 'GEO',
    'Armenia': 'ARM',
    'Azerbaijan': 'AZE',
    'Belarus': 'BLR',
    'Moldova': 'MDA',
    'Uzbekistan': 'UZB',
    'Turkmenistan': 'TKM',
    'Kyrgyzstan': 'KGZ',
    'Tajikistan': 'TJK',
    'Morocco': 'MAR',
    'Tunisia': 'TUN',
    'Algeria': 'DZA',
    'Libya': 'LBY',
    'Sudan': 'SDN',
    'Ethiopia': 'ETH',
    'Kenya': 'KEN',
    'Uganda': 'UGA',
    'Tanzania': 'TZA',
    'Ghana': 'GHA',
    'Ivory Coast': 'CIV',
    'Cameroon': 'CMR',
    'Senegal': 'SEN',
    'Zimbabwe': 'ZWE',
    'Zambia': 'ZMB',
    'Angola': 'AGO',
    'Mozambique': 'MOZ',
    'Namibia': 'NAM',
    'Botswana': 'BWA',
    'Malawi': 'MWI',
    'Rwanda': 'RWA',
    'Burundi': 'BDI',
    'Mauritius': 'MUS',
    'Madagascar': 'MDG',
    'Seychelles': 'SYC',
    'Lesotho': 'LSO',
    'Eswatini': 'SWZ',
    'Comoros': 'COM',
    'Djibouti': 'DJI',
    'Eritrea': 'ERI',
    'Somalia': 'SOM',
    'Hong Kong': 'HK',
    'Guatemala': 'GTM',
    'Gabon': 'GAB',
    'Equatorial Guinea': 'GNQ',
    'Central African Republic': 'CAF',
    'Chad': 'TCD',
    'Niger': 'NER',
    'Mali': 'MLI',
    'Burkina Faso': 'BFA',
    'Benin': 'BEN',
    'Togo': 'TGO',
    'Sierra Leone': 'SLE',
    'Liberia': 'LBR',
    'Guinea': 'GIN',
    'Guinea-Bissau': 'GNB',
    'Gambia': 'GMB',
    'Cape Verde': 'CPV',
    'Mauritania': 'MRT',
    'Western Sahara': 'ESH',
    'Palestine': 'PSE',
    'Lebanon': 'LBN',
    'Jordan': 'JOR',
    'Syria': 'SYR',
    'Iraq': 'IRQ',
    'Yemen': 'YEM',
    'Oman': 'OMN',
    'Bahrain': 'BHR',
    'Sri Lanka': 'LKA',
    'Nepal': 'NPL',
    'Bhutan': 'BTN',
    'Maldives': 'MDV',
    'Myanmar': 'MMR',
    'Laos': 'LAO',
    'Cambodia': 'KHM',
    'Brunei': 'BRN',
    'East Timor': 'TLS',
    'Papua New Guinea': 'PNG',
    'Fiji': 'FJI',
    'Samoa': 'WSM',
    'Tonga': 'TON',
    'Vanuatu': 'VUT',
    'Solomon Islands': 'SLB',
    'Micronesia': 'FSM',
    'Marshall Islands': 'MHL',
    'Palau': 'PLW',
    'Kiribati': 'KIR',
    'Nauru': 'NRU',
    'Tuvalu': 'TUV',
    // Add more countries as needed
  };

  function formatLocation(location) {
    if (location === 'N/A') {
      return 'Remote';
    }

    const parts = location.split(',').map(part => part.trim());

    // Helper function to check if a string is a US state
    const isUSState = (str) => Object.keys(stateMappings).includes(str) || Object.values(stateMappings).includes(str);

    // Helper function to get state abbreviation
    const getStateAbbr = (state) => {
      const fullName = Object.keys(stateMappings).find(key => key.toLowerCase() === state.toLowerCase());
      return fullName ? stateMappings[fullName] : state;
    };

    // Helper function to get country abbreviation
    const getCountryAbbr = (country) => {
      const fullName = Object.keys(countryMappings).find(key => key.toLowerCase() === country.toLowerCase());
      return fullName ? countryMappings[fullName] : country;
    };

    // Helper function to format a single location
    const formatSingleLocation = (city, state, country) => {
      const isRemote = (city.toLowerCase() === 'remote' || city.toLowerCase() === 'n/a');

      if (country && country !== 'N/A') {
        const countryAbbr = getCountryAbbr(country);
        if (countryAbbr.toLowerCase() === 'usa' || country.toLowerCase() === 'united states' || country.toLowerCase() === 'us') {
          if (isRemote) {
            return `Remote, USA`;
          } else {
            return `${city !== 'N/A' ? city + ', ' : ''}${state !== 'N/A' ? getStateAbbr(state) : 'USA'}`;
          }
        } else {
          if (isRemote) {
            return `Remote, ${countryAbbr}`;
          } else {
            return `${city !== 'N/A' ? city : ''}${state !== 'N/A' && state !== city ? '/' + getStateAbbr(state) : ''}, ${countryAbbr}`;
          }
        }
      } else if (state && state !== 'N/A') {
        return `${isRemote ? 'Remote, ' : ''}${isUSState(state) ? getStateAbbr(state) : state}`;
      } else if (city && city !== 'N/A') {
        return city;
      } else {
        return 'Remote';
      }
    };

    // Process multiple locations
    const locations = [];
    for (let i = 0; i < parts.length; i += 3) {
      const city = parts[i];
      const state = parts[i + 1] || '';
      const country = parts[i + 2] || '';

      locations.push(formatSingleLocation(city, state, country));
    }

    return locations.join('; ');
  }

  function formatSalary(salary) {
    if (!salary) return "";
    return salary >= 1000 ? (salary / 1000).toFixed(0) + "k" : salary.toString();
  }

  function getFormattedSalary(salary, salaryMax) {
    if (salary && salaryMax) {
      const average = Math.round((salary + salaryMax) / 2);
      return `${formatSalary(average)}`;
    } else if (salary) {
      return formatSalary(salary);
    }
    return "";
  }

  function formatDateColor(dateString) {
    const now = new Date();
    const postedDate = new Date(dateString);
    // if within 2 weeks, green, if within 2 months, yellow, if older, red
    const diffTime = Math.abs(now - postedDate);
    const diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));
    if (diffDays <= 14) {
      return 'green';
    } else if (diffDays <= 60) {
      return 'yellow';
    } else {
      return 'red';
    }
  }

  function getAllCommunities() {
    fetch('/api/communities') // Adjust this to your server's endpoint
      .then(response => response.json())
      .then(communities => {
        console.log(communities);
        // Use window.matchMedia to check for mobile devices
        const isMobile = window.matchMedia("only screen and (max-width: 768px)").matches;
        // Select the container based on whether or not it is a mobile device
        let containerClassName;
        if (isMobile) {
          containerClassName = '.mobile-communities-container';

        } else {
          containerClassName = '.communities-container';
        }
        const communitiesContainer = document.querySelector(containerClassName);


        if (communitiesContainer) {
          communitiesContainer.innerHTML = ''; // Clear existing communities
          // add a public networks label
          /*
          const publicNetworksLabel = document.createElement('div');
          publicNetworksLabel.className = 'public-networks-label flex flex-row v-center';
          publicNetworksLabel.innerHTML = `
            <span class="material-symbols-outlined" style="font-size: 1rem;color: var(--active-indicator-color);">
              public
            </span>
            <div class="community-name secondary-text mini-text">
              <p class="community-text main-text" style="color: inherit;">Public Networks</p>
            </div>
          `;
          communitiesContainer.appendChild(publicNetworksLabel);
           */
          communities.forEach(community => {
            if (community.is_member) {

              const communityElement = document.createElement('div');
              communityElement.className = 'communities sub-text';
              communityElement.onclick = () => {
                window.location.href = `/networks/${community.shortname}`;
              };


              const tint = community.community_color;

              communityElement.innerHTML = `
                <span class="material-symbols-outlined" style="color:${community.community_color};">
                  ${community.mini_icon}
                </span>
                <div class="community-name">
                  <p class="community-text" style="color: inherit;">${isMobile ? community.name : community.name}</p>
                </div>
              `;

              communityElement.style.setProperty('--tint-color', tint);

              communitiesContainer.appendChild(communityElement);
            }
          });
          communities.forEach(community => {
            if (!community.is_member) {

              const communityElement = document.createElement('div');
              communityElement.className = 'communities sub-text';
              communityElement.onclick = () => {
                window.location.href = `/networks/${community.shortname}`;
              };

              const tint = community.community_color;

              communityElement.innerHTML = `
                <span class="material-symbols-outlined" style="color: ${community.community_color};">
                  ${community.mini_icon}
                </span>
                <div class="community-name">
                  <p class="community-text sub-text" style="color: inherit;">${isMobile ? community.name : community.name}</p>
                </div>
              `;

              communityElement.style.setProperty('--tint-color', tint);

              communitiesContainer.appendChild(communityElement);
            }
          });
        }
      })
      .catch(error => console.error('Error fetching communities:', error));
  }

  function getTintFromName(name) {
    let hash = 0;
    for (let i = 0; i < name.length; i++) {
      hash = name.charCodeAt(i) + ((hash << 18) - hash);
    }
    const color = (hash & 0x00FFFFFF).toString(16).toUpperCase();
    const tintColor = `#${color}95`;
    return tintColor;
  }

  // if the user is not on mobile, get all communities

  document.addEventListener('DOMContentLoaded', function () {
    const searchButton = document.getElementById('search-toggle-button');
    const banner = document.getElementById('latestCommitBanner');
    const closeButton = document.getElementById('closeCommitBanner');
    const searchBar = document.getElementById('search-bar-div');
    const searchBarForm = document.getElementById('search-bar');
    const searchOverlay = document.getElementById('search-overlay');
    const navBar = document.querySelector('.navbar');

    searchButton.addEventListener('click', () => {
      navBar.style.display = 'none';
      searchBar.style.display = 'block';
      searchBarForm.focus();
      document.body.style.overflow = 'hidden';
      window.scrollTo(0, 0);
      searchOverlay.style.display = 'block';
    });

    searchOverlay.addEventListener('click', () => {
      navBar.style.display = 'flex';
      document.body.style.overflow = '';
      searchBar.style.display = 'none';
      searchOverlay.style.display = 'none';
    });

    getAllCommunities();
    getTrendingPosts();

    function createHashFromString(string) {
      var hash = 0,
        i, chr;
      if (string.length === 0) return hash;
      for (i = 0; i < string.length; i++) {
        chr = string.charCodeAt(i);
        hash = ((hash << 5) - hash) + chr;
        hash |= 0; // Convert to 32bit integer
      }
      return hash;
    }

    function fetchLatestCommit() {
      fetch('/api/get-latest-commit')
        .then(response => response.json())
        .then(data => {
          const commitMessage = data.message;
          const commitHash = createHashFromString(commitMessage);
          const storedHash = localStorage.getItem('commitBannerClosed');

          // Check if the user is logged in and the banner is not closed
          <% if (user) { %>
          if (storedHash !== String(commitHash)) {
            document.querySelector('.latest-commit-message').innerHTML = `Website was just updated. <strong><a href="/updates">Notes</a></strong>`;
            banner.style.display = 'block';
          } else {
            banner.style.display = 'none';
          }
          <% } else { %>
          banner.style.display = 'none';
          <% } %>
        })
        .catch(error => {
          console.error('Error fetching latest commit:', error);
        });
    }


    const dropdownToggle = document.querySelector('.navbar-button.dropdown-toggle');
    const dropdownMenu = document.querySelector('.dropdown-menu');

    if (dropdownToggle && dropdownMenu) {
      dropdownToggle.addEventListener('click', (event) => {
        event.preventDefault(); // Prevent the default link behavior
        dropdownMenu.classList.toggle('show');
      });

      document.addEventListener('click', (event) => {
        if (!dropdownToggle.contains(event.target) && !dropdownMenu.contains(event.target)) {
          dropdownMenu.classList.remove('show');
        }
      });
    }

    // Function to close the banner and store the state in localStorage
    function closeBanner() {
      banner.style.display = 'none';
      const commitMessage = document.querySelector('.latest-commit-message').textContent;
      const commitHash = createHashFromString(commitMessage.split(' by ')[0]);
      localStorage.setItem('commitBannerClosed', String(commitHash));
    }

    // Event listener for the close button
    closeButton.addEventListener('click', closeBanner);

    // Check if the banner is not closed before fetching the latest commit
    const storedHash = localStorage.getItem('commitBannerClosed');
    const shouldFetchCommit = storedHash === null;

    // Fetch the latest commit only if the user is logged in and the banner is not closed
    <% if (user) { %>
    if (shouldFetchCommit) {
      fetchLatestCommit();
    } else {
      banner.style.display = 'none';
    }
    <% } %>
  });

  document.addEventListener('DOMContentLoaded', async () => {
    var menuButton = document.getElementById("menu-button");
    if (menuButton) {
      getTrendingPosts();
    }
    <% if (user) { %>
    const userId = '<%- user.id %>';
    const response = await fetch(`/notifications/${userId}/unread-count`);
    const data = await response.json();
    const unreadCount = data.count;

    const unreadCountElement = document.getElementById('unreadCount');
    if (unreadCount > 0) {
      unreadCountElement.textContent = unreadCount;
      unreadCountElement.style.display = 'flex';
    } else {
      unreadCountElement.style.display = 'none';
    }
    <% } %>
  });

  function redirectToLink(linkUrl) {
    window.location.href = `/redirect?url=${encodeURIComponent(linkUrl)}`;
  }


  document.addEventListener('click', function (event) {
    var content = document.getElementById("menu-content");
    var overlay = document.getElementById("search-overlay");
    var searchBackButton = document.getElementById("search-back-button");
    var menuButton = document.getElementById("menu-button");
    var menuIcon = document.getElementById("menu-icon");



    if (!content.contains(event.target) && event.target !== menuIcon && !menuButton.contains(event.target)) {
      if (content.classList.contains("sidebar-open")) {
        content.classList.remove("sidebar-open");
        overlay.style.display = 'none';
        setTimeout(() => {
          overlay.style.pointerEvents = 'none'; // Block clicks when the overlay is fully transparent
        }, 500);
        if (menuButton.classList.contains('active')) { // Check if menu is active then toggle
          menuButton.classList.toggle('active');
        }
        document.body.style.overflow = ""; // Re-enable scrolling
      }
    } else if (event.target === menuButton || menuButton.contains(event.target)) { // If clicking on the menuButton
      menuButton.classList.toggle('active');
      content.classList.toggle("sidebar-open");
      if (content.classList.contains("sidebar-open")) {
        overlay.style.display = 'block';
        overlay.style.pointerEvents = 'auto'; // Enable clicks when the overlay is visible
        document.body.style.overflow = "hidden"; // Disable scrolling when sidebar is open
      } else {
        overlay.style.display = 'none';
        setTimeout(() => {
          overlay.style.pointerEvents = 'none';
        }, 500);
        document.body.style.overflow = ""; // Re-enable scrolling when sidebar is closed
      }
    }

    searchBackButton.addEventListener('click', () => {
      document.getElementById('search-bar').value = '';
      document.getElementById('search-bar').blur();
      document.getElementById('search-bar-div').style.display = 'none';
      document.querySelector('.navbar').style.display = 'flex';
      document.body.style.overflow = '';
      document.getElementById('search-overlay').style.display = 'none';
    });
  });
</script>