<nav class="navbar">
  <div class="hamburger-menu">
    <span class="material-symbols-outlined" id="menu-icon"> menu </span>
    <div class="menu-content" id="menu-content">
      <a href="/">Communities</a>
      <a href="/jobs">Openings</a>
      <a href="/learning">Learning</a>
      <a href="/practice">Practice</a>
      <a href="/support">Support</a>
      <a href="/about">About</a>
      <% if (user) { %>
      <a href="/post/create">Create Post</a>
      <a class="nav-text" href="/profile/<%= user.username %>">Profile</a>
      <a href="/inbox">Inbox</a>
        <a href="/logout">Logout</a>
        <% } else { %> <% } %>
    </div>
  </div>
  <div class="logo">
    <a href="/"> <img src="/img/core.png" alt="CORE" /> </a>
    <div class="nav-text-container">
      <% if (user) { %>
      <a class="nav-text" href="/profile/<%= user.username %>"><%= user.username %></a></a
      >@<a class="nav-text" href="/">CORE</a>/<%= pagePath %> <% } else { %>
      <a class="nav-text" href="/login">user</a>@<a class="nav-text" href="/"
        >CORE</a
      >/<%= pagePath %> <% } %>
    </div>
  </div>

  <ul class="nav-links">
    <li>
      <a href="/" class="navbar-button">
        <span class="material-symbols-outlined" id="nb-icon"> forum </span>
        Community
      </a>
    </li>
    <li>
      <a href="/jobs" class="navbar-button"
        ><span class="material-symbols-outlined" id="nb-icon"> work </span
        >Openings</a
      >
    </li>
    <li>
      <a href="/learning" class="navbar-button"
        ><span class="material-symbols-outlined" id="nb-icon"> school </span
        >Learning</a
      >
    </li>
    <li>
      <% if (user) { %> <% } else { %>
      <a href="/login" class="navbar-button"
        ><span class="material-symbols-outlined" id="nb-icon"> login </span
        >Login</a
      >
      <% } %>
    </li>
    <li>
      <% if (user) { %>
      <form
        id="logoutForm"
        action="/logout?_method=DELETE"
        method="POST"
        style="display: none"
      ></form>
      <a
        href="#"
        class="navbar-button"
        onclick="document.getElementById('logoutForm').submit();"
      >
        <span class="material-symbols-outlined" id="nb-icon"> logout </span
        >Logout
      </a>
      <% } else { %> <% } %>
    </li>
  </ul>
</nav>

<script>
  document.getElementById("menu-icon").onclick = function () {
    var content = document.getElementById("menu-content");
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  };

  document.addEventListener("DOMContentLoaded", function () {
    const searchIcon = document.querySelector(".search-icon");
    const searchBar = document.querySelector(".search-bar");

    searchIcon.addEventListener("click", function () {
      searchBar.classList.toggle("active");
    });
  });
</script>
