<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/user_profile.css" />
  <link rel="shortcut icon" href="/img/core.png" />
</head>

<style>
  main {
    display: block;
    overflow-y: auto;
  }

  .community-flair {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin-right: 5px;
  }

  .communities-header {
    margin: 13px 10px;
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
  }

  .community-entry {
    border-top: 1px solid var(--border-color);
    padding: 8px 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .community-entry:hover {
    background-color: var(--hover-background-color);
  }

  .community-entry:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  .community-entry .material-symbols-outlined {
    font-size: 20px;
    margin-right: 10px;
  }

  @media (prefers-color-scheme: dark) {
    .community-entry {
      background-color: var(--dark-mode-body-color);
      border-color: var(--dark-mode-main-color);
    }

    .community-flair {
      background-color: var(--dark-mode-lighter-color);
    }

    .community-entry:hover {
      background-color: var(--dark-mode-hover-background-color);
    }

    .community-entry:last-child {
      border-color: var(--dark-mode-main-color);
    }
</style>

<body>
  <%- include('partials/navbar', { pagePath: 'communities' }) %>
  <main>
    <% if (user && user.isAdmin) { %>
    <h5 class="communities-header secondary-text">Admin Communities</h5>
    <div class="communities-list">
      <% communities.forEach((community) => { %>
      <% if (community.id == 9) { %>
      <div class="community-entry" onclick="window.location.href='/c/<%= community.shortname %>'">
        <span class="material-symbols-outlined" style="color:<%= community.community_color %>;"><%= community.mini_icon %></span>

        <span class="community-info">
          <span class="community-info-title">Community Feedback</span>
          <br>
          <span class="community-flairs">
            <span class="community-flair" style="background-color:<%= community.community_color %>85;"><%= community.PostCount[1]%> posts</span>

          </span>
        </span>
      </div>
      <% } %>
      <% }) %>
    </div>
    <% } %>


    <% if (user) { %>
    <h5 class="communities-header secondary-text">My Communities</h5>
    <div class="communities-list">
      <% communities.forEach((community) => { %>
      <% if (community.id == 9 || community.PrivacySetting == 'Private') { %>
      <% return; %>
      <% } %>
      <% if (community.isMember) { %>
      <div class="community-entry" onclick="window.location.href='/c/<%= community.shortname %>'">
        <span class="material-symbols-outlined" style="color:<%= community.community_color %>;"><%= community.mini_icon %></span>
        <span class="community-info">
          <span class="community-info-title"><%= community.name%>
            <span> - </span>
            /<%= community.shortname%>
          </span>
          <% if (community.isModerator) { %>
          <span class="material-symbols-outlined" style="font-size: 16px;" onclick="window.location.href='/c/<%= community.shortname %>/admin'">admin_panel_settings</span>
          <% } %>
          <br>
          <span class="community-flairs">
            <span class="community-flair" style="background-color:<%= community.community_color %>85;"><%= community.CommunityMemberCount%> member</span>
            <span class="community-flair" style="background-color:<%= community.community_color %>85;"><%= community.PostCount[1]%> posts</span>

          </span>
        </span>
        <span class="material-symbols-outlined" style="margin-left: auto;" onclick="leaveCommunity(event, '<%= community.shortname %>')">close</span>
      </div>
      <% } %>
      <% }) %>
    </div>
    <% } %>

    <h5 class="communities-header secondary-text">Explore Communities</h5>
    <div class="communities-list">
      <% communities.forEach((community) => { %>
      <% if (community.id == 9 || community.PrivacySetting == 'Private') { %>
      <% return; %>
      <% } %>

      <% if (!community.isMember) { %>
      <div class="community-entry" onclick="window.location.href='/c/<%= community.shortname %>'">
        <span class="material-symbols-outlined" style="color:<%= community.community_color %>;"><%= community.mini_icon %></span>

        <span class="community-info">
          <span class="community-info-title"><%= community.name%>
            <span> - </span>
            /<%= community.shortname%>
          </span>
          <span id="secondary-text"><%= community.description%></span>
          <br>
          <span class="community-flairs">
            <span class="community-flair" style="background-color:<%= community.community_color %>85;"><%= community.MemberCount%> member</span>
            <span class="community-flair" style="background-color:<%= community.community_color %>85;"><%= community.PostCount[1]%> posts</span>

          </span>
        </span>

        <% if (user) { %>
        <span class="material-symbols-outlined" style="margin-left: auto;" onclick="">add</span>

        <% if (community.isModerator) { %>
        <span class="material-symbols-outlined" style="margin-left: 10px;">star</span>
        <% } %>
        <% } %>
      </div>
      <% } %>
      <% }) %>
    </div>
    <%- include('partials/footer') %>

  </main>
  <script>
    async function leaveCommunity(event, community_name) {
      event.stopPropagation();
      const response = await fetch(`/c/${community_name}/leave`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      });

      if (response.ok) {
        window.location.reload();
      }
    }

    async function joinCommunity(event, community_shortname) {
      event.stopPropagation();
      const response = await fetch(`/c/${community_shortname}/join`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      });

      if (response.ok) {
        window.location.reload();
      }
    }
  </script>

</body>

</html>