<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/user_profile.css" />
  <link rel="shortcut icon" href="/img/core.png" />
</head>

<style>
  :root {
    --primary-text-color: #1D2935;
    --light-mode-body-color: #F6F8FA;
    --light-mode-main-color: #fff;
    --light-mode-hover-color: #E5EBF1;
    --border-color: #DCE6F2;
    --light-mode-button-color: #DCE6F2;
    --light-mode-button-hover-color: #BECBDA;
    --light-mode-text-color: #243342;
    --light-mode-secondary-text-color: #586C7F;
    --hover-background-color: #ddd;
    --active-indicator-color: #0e6655;
    --dark-mode-main-color: #16191B;
    --dark-mode-body-color: #000;
    --dark-mode-hover-color: #24292D;
    --dark-mode-button-hover-color: #363F44;
    --dark-mode-lighter-color: #1F2427;
    --dark-mode-text-color: #fff;
    --dark-mode-secondary-text-color: #999;
    --dark-mode-border-color: #272D31;
  --dark-mode-hover-background-color: #151515;
  }

  main {
    display: block;
  }

  .communities-header {
    margin: 13px 10px;
  }

  .community-entry {
    border-top: 1px solid var(--border-color);
    padding: 8px 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .community-entry:hover {
    background-color: var(--hover-background-color);
  }

  .community-entry:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  .community-entry .material-symbols-outlined {
    font-size: 20px;
    margin-right: 10px;
  }
</style>

<body>
  <%- include('partials/navbar', { pagePath: 'communities' }) %>
  <main>
    <% if (user) { %>
    <h5 class="communities-header">My Communities</h5>
    <div class="communities-list">
      <% communities.forEach((community) => { %>
      <% if (community.isMember) { %>
      <div class="community-entry" onclick="window.location.href='/c/<%= community.shortname %>'">
        <span class="material-symbols-outlined"><%= community.mini_icon %></span>
        <span class="community-info">
          <%= community.name%>
          <span> - </span>
          /<%= community.shortname%>
          <br>
          <%= community.MemberCount%> member
        </span>
        <span class="material-symbols-outlined" style="margin-left: auto;" onclick="leaveCommunity(event, '<%= community.id %>')">close</span>
        <% if (community.isModerator) { %>
        <span class="material-symbols-outlined" style="margin-left: 10px;">admin_panel_settings</span>
        <% } %>
      </div>
      <% } %>
      <% }) %>
    </div>
    <br>
    <br>
    <% } %>

    <h5 class="communities-header">Communities</h5>
    <div class="communities-list">
      <% communities.forEach((community) => { %>
      <% if (!community.isMember) { %>
      <div class="community-entry" onclick="window.location.href='/c/<%= community.name %>'">
        <span class="material-symbols-outlined"><%= community.mini_icon %></span>

        <span class="community-info">
          <%= community.name%>
          <span> - </span>
          /<%= community.shortname%>
          <br>
          <%= community.MemberCount%> member
        </span>

        <% if (user) { %>
        <span class="material-symbols-outlined" style="margin-left: auto;" onclick="joinCommunity(event, '<%= community.id %>')">add</span>

        <% if (community.isModerator) { %>
        <span class="material-symbols-outlined" style="margin-left: 10px;">star</span>
        <% } %>
        <% } %>
      </div>
      <% } %>
      <% }) %>
    </div>
  </main>
  <script>
    async function leaveCommunity(event, communityId) {
      event.stopPropagation();
      const response = await fetch(`/c/${communityId}/leave`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      });

      if (response.ok) {
        window.location.reload();
      }
    }

    async function joinCommunity(event, communityId) {
      event.stopPropagation();
      const response = await fetch(`/c/${communityId}/join`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      });

      if (response.ok) {
        window.location.reload();
      }
    }
  </script>
</body>

</html>