<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="./css/navbar.css" />
    <link rel="stylesheet" href="./css/communities.css" />
    <link rel="shortcut icon" href="img/core.png" />
    <title>CORE - Communities</title>
  </head>
  <body>
    <%- include('partials/navbar', { pagePath: 'communities' }) %>

    <div class="container">
      
    <div id="com-btn-container" class="column">
      <h4>Communities</h4>
      <a href="#" onclick="filterPosts('All')">All</a>
      <a href="#" onclick="filterPosts('ML-AI')">ML-AI</a>
      <a href="#" onclick="filterPosts('Web-Dev')">Web Development</a>
      <a href="#" onclick="filterPosts('cs')">Computer Science</a>
      <a href="#" onclick="filterPosts('Programming')">Software</a>

      <h4>Recent Posts</h4>

      <h4>Recent Jobs</h4>
    </div>

    <div id="posts-container" class="column">
    </div>
      <% const jobPostings = [
        {
          companyName: "Apple",
          jobTitle: "Security Analyst",
          jobLocation: "Boston, MA",
          jobOverview: "Protect our digital assets and ensure compliance with the latest security standards.",
          jobType: "Full-Time",
          jobSalary: "$115k/yr",
          jobBenefits: "Health & Dental, Company Subscriptions, Paid Time Off",
          companyLogo: "./src/applelogo.png"
        },
        {
          companyName: "Amazon",
          jobTitle: "Data Scientist",
          jobLocation: "Seattle, WA",
          jobOverview: "Utilize large datasets to uncover insights and inform business strategy decisions.",
          jobType: "Full-Time",
          jobSalary: "$150k/yr",
          jobBenefits: "401k, Flexible Hours, Relocation Assistance",
          
          companyLogo: "./src/amazonlogo.png"
          },
          
          {
          companyName: "Microsoft",
          jobTitle: "Software Engineer",
          jobLocation: "Redmond, WA",
          jobOverview: "Design, build and manage cloud-based products using cutting edge technology.",
          
          jobType: "Full-Time",
          jobSalary: "$130k/yr",
          jobBenefits: "Unlimited PTO, Equity Compensation, 401k Matching",
          companyLogo: "./src/microsoftlogo.png"
          },
          
          {
          companyName: "Google",
          jobTitle: "Product Manager",
          
          jobLocation: "Mountain View, CA",
          jobOverview: "Lead cross-functional teams to deliver innovative Google products.",
          jobType: "Full-Time",
          jobSalary: "$160k/yr",
          jobBenefits: "Flexible Work Arrangements, Learning Stipends, Free Meals",
          companyLogo: "./src/googlelogo.png"
          },
      ]; %>
      <div class="jobs-container">
        <% jobPostings.forEach(job => { %>
          <div class="job">
            <div class="job-content">
              <div class="job-header">
                <div class="company-logo-container">
                  <img src="<%= job.companyLogo %>" alt="Company Logo" class="company-logo" />
                </div>
                <div class="job-title-location">
                  <div class="job-header">
                    <div class="company-name"><%= job.companyName %> </div> 
                  </div>
                  <div class="job-title"><%= job.jobTitle %></div>
                </div>
              </div>
              <div class="job-body">
                <div class="job-info"></div>
              </div>
              <div class="job-flairs">
                <span class="job-flair"><%= job.jobType %></span>
                <span class="job-flair"><%= job.jobSalary %></span>
                <span class="job-flair"><%= job.jobLocation %></span>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>

    <script>
      function fetchAndDisplayPosts() {
    fetch('/api/posts') // Adjust this to your server's endpoint
      .then(response => response.json())
      .then(posts => {
        const postsContainer = document.getElementById('posts-container');
        const fetchPromises = [];

        posts.forEach(post => {
          // Main post div
          const postDiv = document.createElement('div');
          postDiv.className = 'post';

          // Post content div
          const postContentDiv = document.createElement('div');
          postContentDiv.className = 'post-content';
          postContentDiv.onclick = () => window.location.href = '/posts/' + post.id;

          // Post header div
          const postHeaderDiv = document.createElement('div');
          postHeaderDiv.className = 'post-header';

          // avatar div
          const avatarDiv = document.createElement('div');
          avatarDiv.className = 'avatar';
          const avatarImg = document.createElement('img');
          avatarImg.src = post.avatar;
          avatarDiv.appendChild(avatarImg);
          postHeaderDiv.appendChild(avatarDiv);

          // Username and current job div
          const usernameDiv = document.createElement('div');
          usernameDiv.className = 'username';
          const usernameLink = document.createElement('a');
          usernameLink.href = '/profile/' + post.username;
          usernameLink.innerHTML = '<strong>' + post.username + '</strong>';
          usernameDiv.appendChild(usernameLink);
          const currentJobDiv = document.createElement('div');
          currentJobDiv.className = 'current-job';
          currentJobDiv.innerText = post.currentJob ? post.currentJob : '';
          usernameDiv.appendChild(currentJobDiv);

          postHeaderDiv.appendChild(usernameDiv);

          postContentDiv.appendChild(postHeaderDiv);

          // Title div
          const titleDiv = document.createElement('div');
          titleDiv.className = 'title';
          titleDiv.innerText = post.title;
          postContentDiv.appendChild(titleDiv);

          if (post.link) {
          const linkDiv = document.createElement('div');
          linkDiv.className = 'link';
          linkDiv.innerHTML = '<div class="placeholder-link-preview">Loading link preview...</div>'; // Placeholder
          postContentDiv.appendChild(linkDiv);
          fetchPromises.push(fetchLinkPreview(post.link, linkDiv));
          }
          const descriptionDiv = document.createElement('div');
          descriptionDiv.className = 'description';
          descriptionDiv.innerText = post.content; // Assuming 'content' holds the description
          postContentDiv.appendChild(descriptionDiv);

              // Votes div
          const votesDiv = document.createElement("div");
          votesDiv.className = "votes";

              // Vote interactions div
              const voteInteractionsDiv = document.createElement("div");
              voteInteractionsDiv.className = "vote-interactions";

              // Boost button
              const boostButton = document.createElement("span");
              boostButton.className = "material-symbols-outlined boost-button";
              boostButton.innerText = "arrow_upward_alt";
              boostButton.onclick = () =>
                interactWithPost(post.id, "<%= user %>", "boost");
              voteInteractionsDiv.appendChild(boostButton);

              // Post score div
              const postScoreDiv = document.createElement("div");
              postScoreDiv.id = "posts-score-" + post.id;
              postScoreDiv.innerText = post.boostCount - post.detractCount;
              voteInteractionsDiv.appendChild(postScoreDiv);

              // Detract button
              const detractButton = document.createElement("span");
              detractButton.className =
                "material-symbols-outlined detract-button";
              detractButton.innerText = "arrow_downward_alt";
              detractButton.onclick = () =>
                interactWithPost(post.id, "<%= user %>", "detract");
              voteInteractionsDiv.appendChild(detractButton);

              votesDiv.appendChild(voteInteractionsDiv);
              postContentDiv.appendChild(votesDiv);

        



        const commentsDiv = document.createElement('div');
        commentsDiv.className = 'comments';
        commentsDiv.innerHTML = 'Loading comments...'; // Placeholder
        votesDiv.appendChild(commentsDiv);
        fetchPromises.push(fetchComments(post.id, commentsDiv));

          postDiv.appendChild(postContentDiv);
          postsContainer.appendChild(postDiv);
        });
        return Promise.all(fetchPromises);

      })
      .catch(error => console.error('Error fetching posts:', error));
  }
  function fetchLinkPreview(link, container) {
  return fetch(`/api/link-preview/${encodeURIComponent(encodeURIComponent(link))}`)
    .then(response => response.json())
    .then(linkPreview => {
      if (linkPreview) {
        let imageUrl = linkPreview.image || linkPreview.favicon;
        let htmlContent = `
          <div class="mini-link">
              <div class="mini-link-image">
                  ${imageUrl ? `<img src="${imageUrl}" alt="thumbnail" class="thumbnail-image" />` : ''}
              </div>
              <div class="mini-link-body">
                  <div class="mini-link-title">${linkPreview.title || ''}</div>
                  <div class="mini-link-url">${link || ''}</div>
                  <div class="mini-link-desc">${linkPreview.description || ''}</div>
              </div>
          </div>`;
        container.innerHTML = htmlContent;
      }
    });
}
function fetchComments(postId, container) {
  return fetch(`/api/comments/${postId}`)
    .then(response => response.json())
    .then(comments => {
      container.innerHTML = comments.length + ' replies'; 
    });
}

  function formatDate(date) {
    let postDate = new Date(date);
    let today = new Date();
    let formattedDate;
          
   // Calculate time difference in milliseconds
            let diff = today - postDate;
          
            // Convert time difference to different units
            let minutes = Math.floor(diff / 60000); // 60,000 milliseconds in a minute
            let hours = Math.floor(diff / 3600000); // 3,600,000 milliseconds in an hour
            let days = Math.floor(diff / 86400000); // 86,400,000 milliseconds in a day
            let years = Math.floor(diff / 31536000000); // 31,536,000,000 milliseconds in a year
          
            // Decide the format based on the time difference
            if (minutes < 60) {
              formattedDate = minutes + ' minutes ago';
            } else if (hours < 24) {
              formattedDate = hours + ' hours ago';
            } else if (days < 365) {
              formattedDate = days + ' days ago';
            } else {
              formattedDate = years + ' years ago';
            }
            return formattedDate;
  }
  
  document.addEventListener("DOMContentLoaded", fetchAndDisplayPosts);

  function interactWithPost(postId, user, action) {
    if (!user) {
      window.location.href = '/login';
      return;
    }

  fetch(`/posts/${postId}/boost`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ user: user, action: action })
  })
  .then(response => response.json())
  .then(data => {
    const scoreElement = document.getElementById(`posts-score-${postId}`);
    const boostButton = document.querySelector(`[onclick="interactWithPost('${postId}', '${user}', 'boost')"]`);
    const detractButton = document.querySelector(`[onclick="interactWithPost('${postId}', '${user}', 'detract')"]`);

    // Update the score
    scoreElement.innerText = data.newScore;

    // Update button colors based on the action and server response
    if (action === "boost") {
      boostButton.style.color = data.message === "Boost successful" ? "green" : "black";
      detractButton.style.color = "black"; // Reset detract button
    } else if (action === "detract") {
      detractButton.style.color = data.message === "Detract successful" ? "red" : "black";
      boostButton.style.color = "black"; // Reset boost button
    }
  })
  .catch((error) => {
    console.error('Error:', error);
  });
}


function filterPosts(communityName) {
    // Get all post elements
    const posts = document.querySelectorAll('.post');
    posts.forEach((post) => {
        // Check if post belongs to the selected community
        const postCommunity = post.querySelector('.communities_id').textContent.trim();
        if (communityName === 'All' || postCommunity === communityName) {
            post.style.display = ''; // Show post
        } else {
            post.style.display = 'none'; // Hide post
        }
    });
}

// Call the function to create buttons on page load
createButtons();

    </script>
  </body>
</html>
