<!DOCTYPE html>
<html>

<head>
  <meta name="company-name" content="<%= company.name %>">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE - <%= company.name %></title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/company_profile.css" />
  <link rel="shortcut icon" href="/img/core.png" />

  <!-- Meta Tags for SEO and Social Media -->
  <meta name="description" content="<%= company.description %>">
  <meta name="keywords" content="<%= company.name %>, company profile, CORE company, connect with <%= company.name %>">
  <meta name="robots" content="index, follow">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="<%= company.name %> - CORE">
  <meta property="og:description" content="<%= company.description %>">
  <meta property="og:image" content="<%= company.logo %>">
  <meta property="og:url" content="https://c-ore.dev/company/<%= company.name %>">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= company.name %> - CORE">
  <meta name="twitter:description" content="<%= company.description %>">
  <meta name="twitter:image" content="<%= company.logo %>">
</head>
<style>
</style>

<body>
  <%- include('partials/navbar', { pagePath: 'company' }) %>
  <main>
    <%- include('partials/com-btn-container', { }) %>

    <div class="company-info-container">
      <div class="company-header">
        <div class="company-image">
          <% if (company.logo) { %>
          <img class="thumbnail thumbnail-small thumbnail-regular" src="<%= company.logo %>" alt="" />
          <% } %>
        </div>
        <div class="company-info">
          <span class="company-name"><%= company.name %></span>
          <span class="company-location secondary-text"><%= company.location %></span>
        </div>
        <% if (user && user.isAdmin) { %>
        <a href="/jobs/company/<%= company.name %>/edit">
          <button class="regular-button-normal">
            Edit
          </button>
        </a>
        <% } %>
      </div>
      <div class="company-flair">
        <% if (company.job_board_url) { %>
        <a class="link" href="<%= company.job_board_url %>" class="company-flair-item">
          Job Board
        </a>
        <% } %>
        <% if (company.industry)  { %>

        <span class="company-flair-item">
          <p>
            <span class="material-symbols-outlined">
              factory
            </span>
            <%= company.industry %>
          </p>
        </span>
        <% } %>
        <% if (company.size)  { %>

        <span class="company-flair-item">
          <p>
            <span class="material-symbols-outlined">
              person
            </span>
            <%= company.size %>
          </p>
        </span>
        <% } %>
      </div>

      <div class="company-description">
        <p class="description-text" style="max-height: 100px; overflow: hidden;"><%= company.description %></p>
      </div>
      <button class="show-more-button clickable no-bg no-border" style="display: none;">Show More</button>

      <div class="jobs">
        <h3> <%= jobsCount %> Open Jobs</h3>
        <div class="job-list">
        </div>
        <%- include('partials/footer') %>

      </div>

    </div>
  </main>

  <script src="/js/companyProfile.js"></script>

</body>

</html>