<!DOCTYPE html>
<html>

<head>
  <meta name="company-name" content="<%= company.name %>">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE - <%= company.name %></title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/company_profile.css" />
  <link rel="shortcut icon" href="/img/core.png" />

  <!-- Meta Tags for SEO and Social Media -->
  <meta name="description" content="<%= company.description %>">
  <meta name="keywords" content="<%= company.name %>, company profile, CORE company, connect with <%= company.name %>">
  <meta name="robots" content="index, follow">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="<%= company.name %> - CORE">
  <meta property="og:description" content="<%= company.description %>">
  <meta property="og:image" content="<%= company.logo %>">
  <meta property="og:url" content="https://getcore.dev/company/<%= company.name %>">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= company.name %> - CORE">
  <meta name="twitter:description" content="<%= company.description %>">
  <meta name="twitter:image" content="<%= company.logo %>">
</head>
<style>
</style>

<body>
  <%- include('partials/navbar', { pagePath: 'company' }) %>
  <main>
    <%- include('partials/com-btn-container', { }) %>
    <% locals.user = user %>

    <div class="company-info-container" data-company="<%= company.name %>">
      <div class="company-menu adaptive-border-bottom">
        <div class="company-header margin-06-bottom">
          <div class="company-image">
            <% if (company.logo) { %>
            <img class="thumbnail thumbnail-tiny thumbnail-regular" src="<%= company.logo %>" alt="" />
            <% } %>
          </div>
          <div class="company-info">
            <span class="company-name"><%= company.name %></span>
          </div>
          <% if (user && user.isAdmin) { %>
          <a href="/jobs/company/<%= encodeURIComponent(company.name) %>/edit">
            <button class="null-button-normal">
              <span class="material-symbols-outlined">
                edit
              </span>Edit
            </button>
          </a>
          <% } %>
        </div>
        <div class="company-description margin-06-bottom">
          <p class="description-text"><%= company.description %></p>

        </div>
        <div class="company-flair margin-1-bottom">
          <% if (company.job_board_url) { %>
          <span class="company-flair-item">

            <span class="material-symbols-outlined">
              link
            </span>
            <a class="link" href="<%= company.job_board_url %>" class="company-flair-item" target="_blank">
              <%= company.job_board_url.replace('https://', '') %>
            </a>
            </a>
          </span>
          <% } %>
          <span class="company-flair-item">

            <span class="material-symbols-outlined">
              location_on
            </span>
            <span class="company-location"><%= company.location %></span>
          </span>
          <% if (company.industry)  { %>

          <span class="company-flair-item">
            <p>
              <span class="material-symbols-outlined">
                factory
              </span>
              <%= company.industry %>
            </p>
          </span>
          <% } %>
          <% if (company.size)  { %>

          <span class="company-flair-item">
            <p>
              <span class="material-symbols-outlined">
                person
              </span>
              <%= company.size %>
            </p>
          </span>
          <% } %>
        </div>
        <div class="company-buttons margin-1-bottom">
          <button class="null-button-normal" id="follow-company-button"><span class="material-symbols-outlined">
              person_add
            </span>Follow</button>
          <button class="null-button-normal" id="share-company-button" onclick="share('<%= company.name %>', '', 'https://getcore.dev/jobs/company/<%= encodeURIComponent(company.name) %>')">
            <span class="material-symbols-outlined">ios_share</span> Share
          </button>
        </div>
        <button class="show-more-button clickable no-bg no-border" style="display: none;">Show More</button>
        <ul class="second-nav-links">
          <li class="dropdown active">
            <a class="navbar-button company-navbar-button active no-bg no-border" data-id="jobs" id="company-updates-selector">
              <span class="material-symbols-outlined">
                work
              </span>Jobs
              <div class="jobs-count">
                <%= jobsCount %>
              </div>
            </a>


          </li>
          <li class="dropdown">
            <a class="navbar-button company-navbar-button no-bg no-border" data-id="company-comments" id="company-updates-selector"><span class="material-symbols-outlined">
                chat_bubble
              </span>Comments
              <div class="comments-count">
              </div>
            </a>
          </li>
          <li class="dropdown">
            <a class="navbar-button company-navbar-button no-bg no-border" id="company-updates-selector">
              <span class="material-symbols-outlined">
                info
              </span>Info</a>
          </li>
        </ul>
      </div>
      <div class="company-containers">
        <div class="company-comments company-profile-section">
          <h3 class="company-comments-header-title margin-1-bottom"> Comments</h3>
          <% if (user) { %>
          <form class="comment-form margin-1-bottom" action="/jobs/company/<%= encodeURIComponent(company.name) %>/comments" method="POST">
            <textarea class="comment-input adaptive-input" name="content" placeholder="Write a comment..."></textarea>
            <button type="submit" class="comment-submit submit-button">Post</button>
          </form>
          <% } %>
          <div class="comments-container">
          </div>
          <%- include('partials/footer') %>

        </div>
        <div class="jobs company-profile-section">
          <div class="jobs-company-header">
            <h3 class="jobs-company-header-text"> <%= jobsCount %> Open Jobs</h3>
            <button class="null-button-normal" id="job-filter-button"> <span class="material-symbols-outlined">
                sort
              </span>Filter</button>
          </div>
          <div class="filter-container">
            <input type="text" class="filter-input" placeholder="Search for a job" />
          </div>
          <div class="job-list">
          </div>
          <%- include('partials/footer') %>

        </div>
      </div>

    </div>
  </main>

  <script src="/js/companyProfile.js"></script>

</body>

</html>