<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE - <%= company.name %></title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/company_profile.css" />
  <link rel="shortcut icon" href="/img/core.png" />

  <!-- Meta Tags for SEO and Social Media -->
  <meta name="description" content="<%= company.description %>">
  <meta name="keywords" content="<%= company.name %>, company profile, CORE company, connect with <%= company.name %>">
  <meta name="robots" content="index, follow">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="<%= company.name %> - CORE">
  <meta property="og:description" content="<%= company.description %>">
  <meta property="og:image" content="<%= company.logo %>">
  <meta property="og:url" content="https://c-ore.dev/company/<%= company.name %>">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= company.name %> - CORE">
  <meta name="twitter:description" content="<%= company.description %>">
  <meta name="twitter:image" content="<%= company.logo %>">
</head>
<style>
</style>

<body>
  <%- include('partials/navbar', { pagePath: 'company' }) %>
  <main>
    <%- include('partials/com-btn-container', { }) %>

    <div class="company-info-container">
      <div class="company-header">
        <div class="company-image">
          <% if (company.logo) { %>
          <img class="thumbnail thumbnail-small thumbnail-regular" src="<%= company.logo %>" alt="" />
          <% } %>
        </div>
        <div class="company-info">
          <span class="company-name"><%= company.name %></span>
          <span class="company-location secondary-text"><%= company.location %></span>
        </div>
        <% if (user && user.isAdmin) { %>
        <a href="/jobs/company/<%= company.name %>/edit">
          <button class="regular-button-normal">
            Edit
          </button>
        </a>
        <% } %>
      </div>

      <span class="company-description"><%= company.description %></span>
      <div class="company-flair">
        <% if (company.job_board_url) { %>
        <span class="link-display">
          <a href="<%= company.job_board_url %>" class="company-flair-item">
            <p>
              <span class="material-symbols-outlined">
                link
              </span>
              Job Board
            </p>
          </a>
        </span>
        <% } %>
        <% if (company.industry)  { %>

        <span class="company-flair-item">
          <p>
            <span class="material-symbols-outlined">
              factory
            </span>
            <%= company.industry %>
          </p>
        </span>
        <% } %>
        <% if (company.size)  { %>

        <span class="company-flair-item">
          <p>
            <span class="material-symbols-outlined">
              person
            </span>
            <%= company.size %>
          </p>
        </span>
        <% } %>
      </div>
      <div class="jobs">
        <h3> <%= jobsCount %> Open Jobs</h3>
        <div class="job-list">
        </div>
        <%- include('partials/footer') %>

      </div>

    </div>
  </main>

  <script>
    function getTintFromName(name) {
      let hash = 0;
      for (let i = 0; i < name.length; i++) {
        hash = name.charCodeAt(i) + ((hash << 18) - hash);
      }
      const color = (hash & 0x00ffffff).toString(16).toUpperCase();
      const tintColor = `#${color}`;
      return tintColor;
    }

    function renderJobPostings(jobPostings) {
      const jobListContainer = document.querySelector(".job-list");
      jobListContainer.innerHTML = ""; // Clear existing job postings

      jobPostings.forEach((job) => {
        const jobElement = document.createElement("div");
        jobElement.classList.add("job");
        jobElement.onclick = () => {
          window.location.href = `/jobs/${job.id}`;
        };
        const tagsArray = job.tags && job.tags[1] ? job.tags[1].split(", ") : [];

        const maxTags = 3; // Adjust this value based on your desired maximum number of tags
        const displayedTags = tagsArray.slice(0, maxTags);
        const tagsHTML = displayedTags
          .map(
            (tag) =>
            `<span class="job-flair"><p>${tag}</p></span>`
          )
          .join("");
        const remainingTags = tagsArray.length - maxTags;
        jobElement.innerHTML = `
            <div class="job-preview">
              <div class="job-info">
                <h3 class="job-title">
                <a href="/jobs/${job.id}">
                ${job.title}
                </a>
                
                 <span style="margin-left: auto; float: right;">${
            job.experienceLevel[0].toUpperCase() + job.experienceLevel.slice(1)
          }</span></h3>
                <h5 class="job-subtitle secondary-text">
                  <span style="margin-left: auto; float:right;">USD $${Math.floor(
                    (job.salary + job.salary_max) / 2 / 1000
                  )}k</span>
                  ${job.location}
                </h5> 
                <div class="job-main">
                  <div class="job-description">
                    <p class="job-description">${job.description}</p>
                  </div>
                </div>
                <div class="job-posting-flairs">
                  ${tagsHTML}
                  ${
                    remainingTags > 0
                      ? `<span class="see-more">+${remainingTags} more</span>`
                      : ""
                  }
                </div>
              </div>
            </div>
          `;
        jobListContainer.appendChild(jobElement);
      });
    }

    renderJobPostings(<%- JSON.stringify(jobs) %>);
  </script>

</body>

</html>