<!DOCTYPE html>
<html>

<head>
  <meta name="company-name" content="<%= company.name %>">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE - <%= company.name %></title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/jobs.css" />
  <link rel="stylesheet" href="/css/company_profile.css" />
  <link rel="shortcut icon" href="/img/core.png" />

  <!-- Meta Tags for SEO and Social Media -->
  <meta name="description" content="<%= company.description %>">
  <meta name="keywords" content="<%= company.name %>, company profile, CORE company, connect with <%= company.name %>">
  <meta name="robots" content="index, follow">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="<%= company.name %> - CORE">
  <meta property="og:description" content="<%= company.description %>">
  <meta property="og:image" content="<%= company.logo %>">
  <meta property="og:url" content="https://getcore.dev/company/<%= company.name %>">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= company.name %> - CORE">
  <meta name="twitter:description" content="<%= company.description %>">
  <meta name="twitter:image" content="<%= company.logo %>">
</head>
<style>
</style>

<body>
  <%- include('partials/navbar', { pagePath: 'company' }) %>
  <main>
    <%- include('partials/com-btn-container', { }) %>
    <% locals.user = user %>

    <div class="company-info-container" data-company="<%= company.name %>">
      <div class="company-menu">
        <nav class="breadcrumbs">
          <ol class="flex flex-wrap items-center gap-1.5 break-words text-sm text-muted-foreground sm:gap-2.5">
            <a href="/jobs" class="transition-colors hover:text-foreground">Jobs</a>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
            </svg>
          </ol>
        </nav>
        <div class="company-header">
          <% if (company.logo) { %>
          <img class="thumbnail-small thumbnail thumbnail-regular" src="<%= company.logo %>" alt="" />
          <% } %>
          <div class="company-posting-info">
            <span class="font-semibold tracking-tight text-2xl"><%= company.name %></span>
            <% if (user && user.isAdmin) { %>
            <a style="margin-left:auto;" href="/jobs/company/<%= encodeURIComponent(company.name) %>/edit">
              <span class="material-symbols-outlined">
                edit
              </span>
            </a>
            <% } %>

            <% if (company.location) { %>
            <div class="text-sm text-balance max-w-lg leading-relaxed">
              <span class="company-location sub-text text-muted-foreground"><%= company.location %></span>
            </div>
            <% } %>
          </div>
        </div>
        <% if (company.description && company.description.length > 100) { %>
        <div class="text-sm text-balance max-w-lg leading-relaxed">
          <p class="description-text" id="companyDescription"><%= company.description %></p>
          <button id="toggleButton" style="display: none;">Show more</button>
        </div>
        <% } %>

        <% if (company.twitter_username || company.company_website) { %>
        <div class="external-links flex flex-row gap-1 wrap">
          <% if (company.twitter_username) { %>
          <span class="inline-flex gap-2 items-center rounded-md border px-2.5 py-0.5 text-sm font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent text-secondary-foreground hover:bg-secondary/80">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter">
              <path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z" />
            </svg>
            <a href="https://twitter.com/<%= company.twitter_username %>" target="_blank" class="company-twitter_username">
              @<%= company.twitter_username.replace('@', '').toLowerCase() %></a>
          </span>
          <% } %>

          <% if (company.company_website) { %>
          <span class="inline-flex gap-2 items-center rounded-md border px-2.5 py-0.5 text-sm font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent text-secondary-foreground hover:bg-secondary/80">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-link">
              <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
              <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
            </svg> <a href="<%= company.company_website %>" target="_blank" class="company-company_website"><%= company.company_website %></a>
            <span style="padding:0;margin-left:.4rem;" class="material-symbols-outlined">
              north_east
            </span>
          </span>
          <% } %>
        </div>
        <% } %>
        <% if (company.job_board_url|| company.industry || company.stock_symbol || company.size || (company.founded && company.founded.getFullYear() !== 1899) || company.company_stage) { %>
        <div class="flex flex-row wrap gap-2 sub-text margin-03-bottom">
          <!--
          <% if (company.job_board_url && user && user.isAdmin) { %>
          <span class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-secondary text-secondary-foreground hover:bg-secondary/80">
            <div class="radar-pulse">
              <div class="pulse"></div>
            </div>
            Active Job Board
          </span>
          <% } %>
          -->

          <% if (company.industry) { %>
          <span class="inline-flex gap-2 items-center rounded-md border px-2.5 py-0.5 text-sm  transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent text-secondary-foreground hover:bg-secondary/80">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-factory">
              <path d="M2 20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8l-7 5V8l-7 5V4a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2Z" />
              <path d="M17 18h1" />
              <path d="M12 18h1" />
              <path d="M7 18h1" />
            </svg>
            <span class="company-industry"><%= company.industry %></span>
          </span>
          <% } %>

          <% if (company.stock_symbol) { %>
          <span class="inline-flex gap-2 items-center rounded-md border px-2.5 py-0.5 text-sm  transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent text-secondary-foreground hover:bg-secondary/80">
            <span class="material-symbols-outlined">show_chart</span>
            <a class="company-stock_symbol" href="https://finance.yahoo.com/chart/<%= company.stock_symbol %>" target="_blank" data-symbol="<%= company.stock_symbol %>">
              $<%= company.stock_symbol %>
              <span class="stock-movement" data-movement="<%= company.stock_symbol %>"></span>
            </a>
          </span>
          <% } %>

          <% if (company.size) { %>
          <span class="inline-flex gap-2 items-center rounded-md border px-2.5 py-0.5 text-sm transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent text-secondary-foreground hover:bg-secondary/80">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-round">
              <path d="M18 21a8 8 0 0 0-16 0" />
              <circle cx="10" cy="8" r="5" />
              <path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3" />
            </svg> <span class="company-size"><%= company.size %></span>
          </span>
          <% } %>

          <% if (company.founded && company.founded.getFullYear() !== 1899) { %>
          <span class="inline-flex gap-2 items-center rounded-md border px-2.5 py-0.5 text-sm  transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent text-secondary-foreground hover:bg-secondary/80">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar">
              <path d="M8 2v4" />
              <path d="M16 2v4" />
              <rect width="18" height="18" x="3" y="4" rx="2" />
              <path d="M3 10h18" />
            </svg> <span class="company-founded">Founded: <%= company.founded.getFullYear() %></span>
          </span>
          <% } %>

          <% if (company.company_stage) { %>
          <span class="inline-flex gap-2 items-center rounded-md border px-2.5 py-0.5 text-sm transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent text-secondary-foreground hover:bg-secondary/80">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-building-2">
              <path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z" />
              <path d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2" />
              <path d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2" />
              <path d="M10 6h4" />
              <path d="M10 10h4" />
              <path d="M10 14h4" />
              <path d="M10 18h4" />
            </svg> <span class="company-company_stage">Stage: <%= company.company_stage %></span>
          </span>
          <% } %>
        </div>
        <% } %>
        <% if (user && typeof user.isPremium !== 'undefined') { %>
        <% if (user.isPremium && (company.company_recent_news_sentiment || company.company_issues || company.company_sentiment || company.company_engineer_choice)) { %>
        <div class="max-w-md bg-background border rounded-lg overflow-hidden">
          <div class="px-4 py-2 flex flex-col">
            <div class="flex flex-row v-center">
              <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkle">
                <path d="M9.937 15.5A2 2 0 0 0 8.5 14.063l-6.135-1.582a.5.5 0 0 1 0-.962L8.5 9.936A2 2 0 0 0 9.937 8.5l1.582-6.135a.5.5 0 0 1 .963 0L14.063 8.5A2 2 0 0 0 15.5 9.937l6.135 1.581a.5.5 0 0 1 0 .964L15.5 14.063a2 2 0 0 0-1.437 1.437l-1.582 6.135a.5.5 0 0 1-.963 0z" />
              </svg>
              <p class="text-sm font-semibold">Company Insights</p>
              <button id="toggleInsights" class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-primary text-primary-foreground hover:bg-primary/90 h-7 ml-auto px-4 py-2">
                Show Insights
              </button>
            </div>
            <div id="insightsContainer" class="hidden space-y-4 mt-4">
              <% if (company.company_recent_news_sentiment) { %>
              <div class="bg-accent p-3 rounded-md">
                <p class="font-semibold text-md mb-2 flex items-center">
                  <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-newspaper">
                    <path d="M4 22h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v16a2 2 0 0 1-2 2Zm0 0a2 2 0 0 1-2-2v-9c0-1.1.9-2 2-2h2" />
                    <path d="M18 14h-8" />
                    <path d="M15 18h-5" />
                    <path d="M10 6h8v4h-8V6Z" />
                  </svg>
                  What's the news saying about <%= company.name %>?
                </p>
                <p class="text-sm max-w-lg leading-relaxed"><%= company.company_recent_news_sentiment %></p>
              </div>
              <% } %>

              <% if (company.company_issues) { %>
              <div class="bg-accent p-4 rounded-md">
                <p class="font-semibold text-md mb-2 flex items-center">
                  <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle-alert">
                    <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3" />
                    <path d="M12 9v4" />
                    <path d="M12 17h.01" />
                  </svg>
                  What are the issues at <%= company.name %>?
                </p>
                <p class="text-sm max-w-lg leading-relaxed"><%= company.company_issues %></p>
              </div>
              <% } %>

              <% if (company.company_sentiment) { %>
              <div class="bg-accent p-4 rounded-md">
                <p class="font-semibold text-md mb-2 flex items-center">
                  <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart">
                    <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" />
                  </svg>
                  How does the public feel about <%= company.name %> currently?
                </p>
                <p class="text-sm max-w-lg leading-relaxed"><%= company.company_sentiment %></p>
              </div>
              <% } %>

              <% if (company.company_engineer_choice) { %>
              <div class="bg-accent p-4 rounded-md">
                <p class="font-semibold text-md mb-2 flex items-center">
                  <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-code">
                    <polyline points="16 18 22 12 16 6" />
                    <polyline points="8 6 2 12 8 18" />
                  </svg>
                  Why Do Engineers Choose <%= company.name %>?
                </p>
                <p class="text-sm max-w-lg leading-relaxed"><%= company.company_engineer_choice %></p>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <% } %>
        <% } else { %>
        <div class="max-w-md bg-background border shadow-lg rounded-lg overflow-hidden">
          <div class="px-4 py-4">
            <h2 class="text-md font-bold mb-2">Company Insights</h2>
            <p class="text-sm mb-4 text-muted-foreground text-balance max-w-lg leading-relaxed">
              Sign up or login to view AI generated insights about <strong><%= company.name %></strong> and job matches personalized to your resume!
            </p>
            <a href="/login">
              <button class="flex flex-row justify-between v-center w-full bg-primary text-background text-sm py-2 px-4 rounded text-center hover:bg-accent hover:text-accent-foreground">
                Sign up
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-key-round">
                  <path d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z" />
                  <circle cx="16.5" cy="7.5" r=".5" fill="currentColor" />
                </svg>
              </button>
            </a>
          </div>
        </div>
        <% } %>
        <!--
        <div class="company-buttons margin-1-bottom">
          <button class="special-button-normal" id="follow-company-button"><span class="material-symbols-outlined">
              person_add
            </span>Follow</button>
          <button class="null-button-normal" id="share-company-button" onclick="share('<%= company.name %>', '', 'https://getcore.dev/jobs/company/<%= encodeURIComponent(company.name) %>')">
            <span class="material-symbols-outlined">share</span> Share
          </button>
        </div>
        -->
      </div>
      <div class="company-containers">
        <% if (user) { %>
        <div class="company-comments company-profile-section mx-4">
          <div class="flex flex-row v-center max-w-md bg-background border rounded-lg overflow-hidden px-4 py-3">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkle">
              <path d="M9.937 15.5A2 2 0 0 0 8.5 14.063l-6.135-1.582a.5.5 0 0 1 0-.962L8.5 9.936A2 2 0 0 0 9.937 8.5l1.582-6.135a.5.5 0 0 1 .963 0L14.063 8.5A2 2 0 0 0 15.5 9.937l6.135 1.581a.5.5 0 0 1 0 .964L15.5 14.063a2 2 0 0 0-1.437 1.437l-1.582 6.135a.5.5 0 0 1-.963 0z" />
            </svg>
            <p class="text-sm font-semibold company-comments-header-title">Comments</p>
            <div class="ml-auto flex space-x-2">
              <button id="toggleComments" class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-background shadow-sm relative z-10 h-7 w-7 text-foreground opacity-100 hover:bg-muted hover:text-foreground [&_svg]:h-3.5 [&_svg]:w-3.5">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye">
                  <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
                  <circle cx="12" cy="12" r="3" />
                </svg>

              </button>
              <button id="toggleForm" class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-background shadow-sm relative z-10 h-7 w-7 text-foreground opacity-100 hover:bg-muted hover:text-foreground [&_svg]:h-3.5 [&_svg]:w-3.5">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-plus">
                  <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
                  <path d="M8 12h8" />
                  <path d="M12 8v8" />
                </svg>
              </button>
            </div>
          </div>
          <div id="commentForm" class="hidden mt-4 max-w-md bg-background border rounded-lg p-4">
            <form>
              <label for="comment" class="block text-sm font-medium text-gray-700">Your Comment</label>
              <textarea id="comment" name="comment" rows="3" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary sm:text-sm"></textarea>
              <button type="submit" class="mt-2 inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-primary text-primary-foreground hover:bg-primary/90 h-7 px-4 py-2">
                Submit
              </button>
            </form>
          </div>
          <div class="hidden comments-container mt-4 max-w-md bg-background border rounded-lg p-4">
          </div>
        </div>
        <% } %>
      </div>

      <script>
        document.getElementById('toggleForm').addEventListener('click', function () {
          const form = document.getElementById('commentForm');
          form.classList.toggle('hidden');
        });

        document.getElementById('toggleComments').addEventListener('click', function () {
          const comments = document.querySelector('.comments-container');
          comments.classList.toggle('hidden');
        });
      </script>
      <div class="jobs company-profile-section">
        <div class="jobs-company-header margin-06-bottom">
          <h3 class="text-md font-semibold"> <%= company.name%> is hiring for <%= jobsCount %> jobs</h3>
        </div>
        <div class="filter-container">
          <input type="text" class="filter-input flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" placeholder="Search for a job" />
        </div>
        <div class="job-list">
          <div class="load-more" id="loading-indicator">
            <button class="load-more-btn flex flex-row gap-06 main-button" id="load-more-btn">
              <div>
                <div class="spinner-container">
                  <div class="spinner"></div>
                </div>
              </div>
              <p class="sub-text">Load More</p>
            </button>

          </div>
        </div>
        <%- include('partials/footer') %>

      </div>
    </div>

    </div>

    <%- include('partials/right-side-container') %>

  </main>

  <script>
    const viewedJobs = <%- JSON.stringify(userViewedJobs || []) %>;
  </script>
  <script src="/js/companyProfile.js"></script>

</body>

</html>