<!DOCTYPE html>
<html>

<head>
  <title>CORE - Create Post</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="shortcut icon" href="/img/core.png" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/create-post.css" />
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

<body>
  <%- include('partials/navbar', { pagePath: 'home' }) %>
  <main>
    <div class="post-header" id="secondary-text">
      <h5 class="main-text">Create Post</h5>
    </div>
    </div>
    <div class="main-container">
      <details open>
        <summary>Posting Rules</summary>
        <ol class="rules-container">
          <details>
            <summary><strong>No Harassment or Bullying</strong></summary>
            <p>Posts or comments that target individuals or groups with harassment, bullying, or intimidation will not be tolerated.</p>
          </details>
          <details>
            <summary><strong>Respect Privacy</strong></summary>
            <p>Do not share personal information about others without their consent. This includes contact information, addresses, or any private details.</p>
          </details>
          <details>
            <summary><strong>No Spam or Self-Promotion</strong></summary>
            <p>Avoid posting irrelevant content, spam, or excessive self-promotion. Focus on sharing valuable insights, questions, and professional updates.</p>
          </details>
          <details>
            <summary><strong>No Discrimination</strong></summary>
            <p>Ensure that all posts and interactions are free from discrimination based on gender, age, disability, sexual orientation, religion, or any other protected characteristic.</p>
          </details>
          <details>
            <summary><strong>Accuracy and Integrity</strong></summary>
            <p>Share information and projects with integrity and ensure that what you post is accurate. Misinformation or deceptive content should be avoided.</p>
          </details>
          <details>
            <summary><strong>Intellectual Property</strong></summary>
            <p>Respect intellectual property rights. Do not post content that infringes on copyrights, trademarks, or other intellectual property.</p>
          </details>
          <details>
            <summary><strong>Constructive Feedback</strong></summary>
            <p>When providing feedback on projects or ideas, ensure that it is constructive and respectful. Avoid derogatory or dismissive comments.</p>
          </details>
          <details>
            <summary><strong>Report Violations</strong></summary>
            <p>Encourage users to report any content or behavior that violates these rules so that appropriate action can be taken.</p>
          </details>
        </ol>
      </details>
      <div class="selector">
        <div class="post-type">
          <a href="#" class="secondary-text selector-button selected" id="discussion">Discussion</a>
        </div>
        <div class="post-type">
          <a href="#" class="secondary-text selector-button" id="question">Question</a>
        </div>
        <div class="post-type">
          <a href="#" class="secondary-text selector-button" id="blog">Blog</a>
        </div>
        <div class="post-type">
          <a href="#" class="secondary-text selector-button" id="project">Project</a>
        </div>
      </div>
      <form action="/posts" method="POST">
        <input type="hidden" id="post_type" name="post_type" value="discussion" />
        <div class="form-group" id="community">
          <select id="community_choice" name="community_id" placeholder="Communities">
            <option class="secondary-text" value="" disabled selected>Select a community</option>
          </select>
        </div>
        <div class="form-group">
          <input type="hidden" name="userId" value="<%= user.id %>" />
          <div class="form-group" id="title-field">


            <input type="text" id="title" name="title" required placeholder="Title" />
          </div>
          <div class="form-group" id="subtitle-field">

            <input type="text" id="subtitle" name="subtitle" placeholder="Subtitle" />
          </div>
          <div class="form-group" id="link-field">
            <input type="text" id="link" name="link" placeholder="Link (optional)" />
          </div>
          <div class="form-group">
            <textarea id="content" name="content"></textarea>
          </div>

          <div class="form-group">
            <div id="tags-container">
              <select class="tags-select2" name="tags[]" multiple="multiple">
                <% tags.forEach(function(tag) { %>
                <option value="<%= tag.id %>"><%= tag.name %></option>
                <% }); %>
              </select>
            </div>
          </div>

        </div>
        <button class="main-button" type="submit">
          <span class="material-symbols-outlined">send</span>
          Submit Post</button>
      </form>
    </div>
  </main>
  <script>
    $('.selector-button').click(function (e) {
      e.preventDefault(); // Prevent the default link behavior

      // Update header text, hidden input value, and link field visibility based on the clicked element
      const selectedPostType = $(this).attr('id'); // Get the id of the clicked element
      switch (selectedPostType) {
      case 'discussion':
        $('#link-field').show();
        $('#subtitle').hide();
        $('#link-label').text('Link:');
        $('#subtitle2').hide();
        break;
      case 'question':
        $('#link-field').hide();
        $('#subtitle').hide();
        $('#subtitle2').hide();
        break;
      case 'blog':
        $('#subtitle').show();
        $('#subtitle2').show();
        $('#link-field').hide();
        break;
      case 'project':
        $('#link-field').show();
        $('#subtitle').hide();
        $('#subtitle2').hide();
        $('#link-label').text('GitHub URL:');
        break;
      }
      $('#post_type').val(selectedPostType);

      // Remove the 'selected' class from all buttons and add it to the clicked button
      $('.selector-button').removeClass('selected');
      $(this).addClass('selected');
    });


    $(document).ready(function () {
      $('#subtitle').hide();
      $('#subtitle2').hide();


      $('.tags-select2').select2({
        width: '100%', // Full width of its container
        tags: true, // Allows user to create new tags
        placeholder: "Tags (comma separated)",
        tokenSeparators: [',', ' '] // Optional: Defines separators for tokenization
      });


      var easyMDE = new EasyMDE({
        element: document.getElementById('content'),
        placeholder: "Body text"
      });

      $('form').on('submit', function (e) {
        var easyMDE = new EasyMDE({
          element: document.getElementById('content')
        });


        // Check if the EasyMDE editor is empty
        if (!easyMDE.value().trim()) {
          e.preventDefault(); // Prevent form submission
          alert("Please fill in the content."); // Display an error message
          easyMDE.codemirror.focus(); // Focus the EasyMDE editor
        } else {
          easyMDE.toTextArea();
          easyMDE.codemirror.save();

          // If link field is hidden, remove its value before submitting
          if ($('#link-field').is(':hidden')) {
            $('#link').val('');
          }
        }
      });

    });

    function getAllCommunities(communityId) {
      fetch('/api/communities') // Adjust this to your server's endpoint
        .then(response => response.json())
        .then(communities => {
          // Create an option for each community
          communities.forEach(community => {
            const option = document.createElement('option');
            option.value = community.id;
            option.textContent = community.name;
            document.getElementById('community_choice').appendChild(option);
          });

          // Set the selected community if communityId is provided
          if (communityId) {
            document.getElementById('community_choice').value = communityId;
          }
        });
    }

    getAllCommunities('<%= communityId %>');
  </script>
</body>

</html>