<!DOCTYPE html>
<html>

<head>
  <title>CORE: Edit Post</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="shortcut icon" href="/img/core.png" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/create-post.css" />
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

</head>

<body>
  <%- include('partials/navbar', { pagePath: 'home' }) %>
  <main>
    <div class="post-header">
      <h2 id="post-header-title">Edit your <%= post.post_type %> post in /<%= post.community_name %></h2>
    </div>

    </div>
    <div class="main-container">
      <input type="hidden" id="current_post_type" value="<%= post.post_type %>">
      <input type="hidden" id="current_community_id" value="<%= post.community_id %>" />
      <form action="/posts/<%= post.id %>/edit?_method=PUT" method="POST">
        <input type="hidden" id="post_type" name="post_type" value="post" />
        <div class="form-group">
          <input type="hidden" name="userId" value="<%= user.id %>" />
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" value="<%= post.title %>" required />
          <div class="form-group" id="link-field">
            <label for="link" id="link-label">Link:</label>
            <input type="text" id="link" name="link" value="<% if (post.link) { %> <%= post.link %> <% } %>" />
          </div>
          <div class="form-group">
            <label for="content">Content:</label>
            <textarea id="content" name="content"><%= post.content %></textarea>
          </div>

          <div class="form-group">
            <label>Tags:</label>
            <div id="tags-container">
              <select id="tags-select2" class="tags-select2" name="tags[]" multiple="multiple">
              </select>
            </div>
          </div>

          <div id="confirmation-question" class="form-group" style="display: none;margin: 0px 0px;margin-bottom: 15px;">
            <input type="checkbox" id="confirm-google" name="confirm_google">
            <label for="confirm-google">Did you try to Google this question before you are making this post?</label>
          </div>

        </div>
        <button class="add-post-button" type="submit">Edit</button>
      </form>
    </div>
  </main>
  <script>
    var currentTags = <%- JSON.stringify(post.tags) %>;
    currentTags.forEach(tag => {
      var option = new Option(tag.name, tag.id, true, true);
      $('#tags-select2').append(option).trigger('change');
    });




    $(document).ready(function() {
      $('.tags-select2').select2({
        width: '100%', // Full width of its container
        tags: true, // Allows user to create new tags
        tokenSeparators: [',', ' '] // Optional: Defines separators for tokenization
      });

      var easyMDE = new EasyMDE({
        element: document.getElementById('content')
      });


      $('form').on('submit', function(e) {
        var easyMDE = new EasyMDE({
          element: document.getElementById('content')
        });

        // Check if the EasyMDE editor is empty
        if (!easyMDE.value().trim()) {
          e.preventDefault(); // Prevent form submission
          alert("Please fill in the content."); // Display an error message
          easyMDE.codemirror.focus(); // Focus the EasyMDE editor
        } else {
          easyMDE.toTextArea();
          easyMDE.codemirror.save();

          // If link field is hidden, remove its value before submitting
          if ($('#link-field').is(':hidden')) {
            $('#link').val('');
          }
        }
      });

    });

    function getAllTags() {
      fetch('/api/tags') // Adjust this to your server's endpoint
        .then(response => response.json())
        .then(tags => {
          // Create an option for each tag
          tags.forEach(tag => {
            const option = document.createElement('option');
            option.value = tag.id;
            option.textContent = tag.name;
            document.getElementById('tags-select2').appendChild(option);
          });
        });
    }
    getAllTags();

    function getAllCommunities() {
      fetch('/api/communities') // Adjust this to your server's endpoint
        .then(response => response.json())
        .then(communities => {
          let currentCommunityId = document.getElementById('current_community_id').value; // Get the current community ID

          // Create an option for each community
          communities.forEach(community => {
            const option = document.createElement('option');
            option.value = community.id;
            option.textContent = community.name;

            // If this community is the current one, select it
            if (community.id.toString() === currentCommunityId) {
              option.selected = true;
            }

            document.getElementById('community_choice').appendChild(option);
          });
        });
    }

    getAllCommunities();
  </script>
</body>

</html>