<!DOCTYPE html>
<html>

<head>
  <title>Edit Company</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="shortcut icon" href="/img/core.png" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/edit-company.css" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
  <%- include('partials/navbar', { pagePath: 'companies' }) %>

  <main>
    <div class="edit-company-header">
      <h5>Edit <%= company.name %> company profile</h5>
    </div>
    <div class="edit-company-logo">
      <img class="h-16 w-16 rounded-xl ml-auto mr-auto" src="<%= company.logo %>" alt="<%= company.name %> logo" />
    </div>
    <form action="/jobs/company/<%= encodeURIComponent(company.name) %>/edit" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="id" value="<%= company.id %>">
      <div>
        <label for="name">Name:</label>
        <input type="text" class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" id="name" name="name" value="<%= company.name %>" required>
      </div>
      <div>
        <label for="location">Location:</label>
        <input class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" type="text" id="location" name="location" value="<%= company.location %>">
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea class="auto-grow-textarea flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" id="description" name="description"><%= company.description %></textarea>
      </div>
      <div>
        <label for="logo">Logo:</label>
        <input type="file" id="logo" name="logo" class="upload-logo flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" accept="image/*">
        <input type="hidden" id="logo-data" name="logo-data">
      </div>
      <div>
        <label for="industry">Industry:</label>
        <input type="text" class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" id="industry" name="industry" value="<%= company.industry %>">
      </div>
      <div>
        <label for="founded">Founded:</label>
        <input class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" type="datetime-local" id="founded" name="founded" value="<%= company.founded ? company.founded.toISOString().substring(0, 16) : '' %>">
      </div>
      <div>
        <label for="size">Size:</label>
        <input type="text" class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" id="size" name="size" value="<%= company.size %>">
      </div>
      <div>
        <label for="stock_symbol">Stock Symbol:</label>
        <input class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" type="text" id="stock_symbol" name="stock_symbol" value="<%= company.stock_symbol %>">
      </div>
      <div>
        <label for="alternate_names">Alternate Names:</label>
        <input class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" type="text" id="alternate_names" name="alternate_names" value="<%= company.alternate_names %>">
      </div>
      <div>
        <label for="job_board_url">Job Board URL</label>
        <input class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" type="text" id="job_board_url" name="job_board_url" value="<%= company.job_board_url %>">
      </div>
      <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2" type="submit">Update Company</button>
    </form>
  </main>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const textarea = document.getElementsByClassName("auto-grow-textarea")[0];

      function adjustTextareaHeight(textarea) {
        textarea.style.height = "auto"; // Reset height to calculate the new height
        textarea.style.height = textarea.scrollHeight + "px"; // Set new height based on scrollHeight
      }

      const logoInput = document.getElementById('logo');
      const logoDataInput = document.getElementById('logo-data');

      logoInput.addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            logoDataInput.value = e.target.result;
          };
          reader.readAsDataURL(file);
        }
      });

      // Adjust height on page load
      adjustTextareaHeight(textarea);

      // Adjust height on input events
      textarea.addEventListener("input", function () {
        adjustTextareaHeight(this);
      });
    });
  </script>
</body>

</html>