<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE: Edit Profile</title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/edit-profile.css" />
  <link rel="shortcut icon" href="/img/core.png" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <%- include('partials/navbar', { pagePath: 'edit' }) %>
  <div class="container">
    <div class="avatar-preview-container">
      <div class="avatar-image">
        <img src="<%= edit_user.avatar %>" alt="avatar" id="avatar-preview" style="box-shadow: 0 2px 20px <%= edit_user.profile_border_color%>;border: 1px solid <%= edit_user.profile_border_color%> !important;" />
        <div class="avatar-overlay">
          <span class="overlay-text">Change Avatar</span>
        </div>
      </div>
    </div>
    <span>
      <label for="avatar">Profile Color</label>
      <input type="color" id="profile_border_color" name="profile_border_color" value="<%= edit_user.profile_border_color%>">
    </span>
    <span id="avatar-upload">
      <input type="file" id="avatar" class="upload-avatar" name="avatar" accept="image/*">
    </span>

    <span>
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" name="firstname" value="<%= edit_user.firstname %>" required>
    </span>
    <span>
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" name="lastname" value="<%= edit_user.lastname %>" required>
    </span>


    <span>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" value="<%= edit_user.email %>" required>
    </span>

    <span>
      <label for="bio">Bio</label>
      <input type="bio" id="bio" name="bio" value="<%= edit_user.bio %>" required>
    </span>

    <span>
      <label for="linkedin">LinkedIn</label>
      <input type="text" id="linkedin_url" name="linkedin_url" value="<%= edit_user.linkedin_url %>" required>
    </span>

    <span>
      <label for="leetcode">LeetCode Username</label>
      <input type="text" id="leetcode_url" name="leetcode_url" value="<%= edit_user.leetcode_url %>" required>
    </span>

    <span>
      <label for="link">Link</label>
      <input type="text" id="link" name="link" value="<%= edit_user.link %>" required>
    </span>

    <span>
      <label for="link2">Link 2</label>
      <input type="text" id="link2" name="link2" value="<%= edit_user.link2 %>" required>
    </span>

    <span>
      <label for="currentLocation">Current Location</label>
      <input type="text" id="zipcode" name="zipcode" value="<%= edit_user.zipcode %>" required>
    </span>

    <button id="submit-button">Submit</button>

  </div>

  <script>
    const fileInput = document.getElementById('avatar');
    const avatarPreview = document.getElementById('avatar-preview');

    fileInput.style.display = 'none';
    avatarPreview.addEventListener('click', function() {
      fileInput.click();
    });

    fileInput.addEventListener('change', function() {
      if (fileInput.files && fileInput.files[0]) {
        const reader = new FileReader();

        reader.onload = function(e) {
          avatarPreview.src = e.target.result;
        };

        reader.readAsDataURL(fileInput.files[0]);
      }
    });


    // Get the avatar preview container element
    const avatarPreviewContainer = document.querySelector('.avatar-image');

    // Add event listeners for mouse enter and leave events
    avatarPreviewContainer.addEventListener('mouseenter', function() {
      const avatarOverlay = this.querySelector('.avatar-overlay');
      avatarOverlay.style.opacity = '1';

      timer = setTimeout(() => {
        avatarOverlay.style.opacity = '0';
      }, 3000);
    });

    avatarPreviewContainer.addEventListener('mouseleave', function() {
      const avatarOverlay = this.querySelector('.avatar-overlay');
      avatarOverlay.style.opacity = '0';
    });
    $(document).ready(function() {
      $('#addJobExperience').click(function() {
        $('#job-experiences').append(`
            <div class="job-experience">
                <input type="text" name="job_title[]" placeholder="Job Title" required>
                <input type="text" name="company_name[]" placeholder="Company Name" required>
                <input type="date" name="job_start_date[]" placeholder="Start Date" required>
                <input type="date" name="job_end_date[]" placeholder="End Date">
                <textarea name="job_description[]" placeholder="Job Description"></textarea>
                <input type="text" name="job_skills[]" placeholder="Skills (comma-separated)">
            </div>
        `);
      });

      // Function to add education experience fields
      $('#addEducationExperience').click(function() {
        $('#education-experiences').append(`
            <div class="education-experience">
                <input type="text" name="school_name[]" placeholder="School Name" required>
                <input type="text" name="degree[]" placeholder="Degree" required>
                <input type="date" name="education_start_date[]" placeholder="Start Date" required>
                <input type="date" name="education_end_date[]" placeholder="End Date">
                <textarea name="education_description[]" placeholder="Description"></textarea>
                <input type="text" name="education_skills[]" placeholder="Skills (comma-separated)">
            </div>
        `);
      });
      $('#submit').click(function(e) {
        e.preventDefault(); // Prevent the default button action

        var formData = new FormData(); // Create a new FormData object

        // Append file data from file input to formData
        var avatarFile = $('#avatar')[0].files[0]; // Get the file from input
        if (avatarFile) {
          formData.append('avatar', avatarFile); // Append file to formData
        }


        // Append other form values to formData
        $('input, select').each(function() {
          // For each input and select element, add it to the FormData.
          if (this.name && this.value) {
            formData.append(this.name, this.value);
          }
        });

        // Make the AJAX request
        $.ajax({
          url: '/edit-profile',
          type: 'POST',
          data: formData,
          processData: false, // Important: tell jQuery not to process the data
          contentType: false, // Important: tell jQuery not to set contentType
          success: function(response) {
            showBannerNotification('Profile updated successfully.');
            // Redirect or update UI as needed
          },
          error: function(xhr, status, error) {
            alert('Error updating profile: ' + error);
          }
        });
      });
    });
  </script>
</body>

</html>