<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE - <%= job.title %> at <%= job.company_name %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/jobs.css" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/com-btn-container.css" />
  <link rel="stylesheet" href="/css/job-posting.css" />
  <link rel="shortcut icon" href="/img/core.png" />


  <meta name="description" content="Explore job openings at CORE. Find your next career opportunity and join our team to make a difference.">
  <meta name="keywords" content="CORE job openings, career opportunities, job listings, join CORE, employment, job search, <%= job.tags %>">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="CORE - <%= job.title %> at <%= job.company_name %>">
  <meta property="og:description" content="Explore job openings at CORE. Find your next career opportunity and join our team to make a difference.">
  <meta property="og:image" content="<%= job.company_logo %>">
  <meta property="og:url" content="https://getcore.dev/openings">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="<%= job.company_logo %>">
  <meta name="twitter:title" content="CORE - <%= job.title %> at <%= job.company_name %>">
  <meta name="twitter:description" content="Explore job openings at CORE. Find your next career opportunity and join our team to make a difference.">
  <meta name="twitter:image" content="<%= job.company_logo %>">
</head>

<body>
  <%- include('partials/navbar', { pagePath: "openings/" + job_id }) %>

  <main>
    <%- include('partials/com-btn-container', { }) %>
    <div class="container">
      <div class="job-details-container">
        <!-- Job details will be dynamically loaded here -->

      </div>
      <%- include('partials/footer') %>
    </div>
    <%- include('partials/right-side-container', { }) %>
  </main>


  <script src="/js/jobPosting.js"></script>
  <script>
    function extractJobIdFromUrl() {
      const urlParts = window.location.pathname.split("/");
      return urlParts[urlParts.length - 1];
    }

    function formatDate(dateString) {
      const date = new Date(dateString);
      const month = String(date.getMonth() + 1).padStart(2, "0");
      const day = String(date.getDate()).padStart(2, "0");
      const year = date.getFullYear();
      return `${month}/${day}/${year}`;
    }

    document.addEventListener('DOMContentLoaded', function () {
      const jobId = extractJobIdFromUrl();
      const userIsAdmin = "<%= user && user.isAdmin %>" === "true";
      const userIsLoggedIn = "<%= user %>" !== "";
      lazyLoadJobDetails(userIsAdmin, jobId, userIsLoggedIn);
      getSimilarJobs(jobId);
    });

    document.addEventListener('DOMContentLoaded', function () {

      const companyProfileButtons = document.querySelectorAll('.company-navbar-button');
      console.log(companyProfileButtons);
      const companyProfileSections = document.querySelectorAll('.company-profile-section');
      console.log(companyProfileSections);

      companyProfileButtons.forEach(button => {
        button.addEventListener('click', () => {
          const targetId = button.getAttribute('data-id');

          companyProfileSections.forEach(section => {
            if (section.className.includes(targetId)) {
              section.style.display = 'block';
            } else {
              section.style.display = 'none';
            }
          });

          // Update active button state (optional)
          companyProfileButtons.forEach(btn => {
            btn.classList.remove('active');
          });
          button.classList.add('active');
        });
      });
    });
  </script>

</body>


</html>