<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE - Job Postings</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/jobs.css" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/com-btn-container.css" />
  <link rel="shortcut icon" href="/img/core.png" />

  <meta name="description" content="Explore job openings at CORE. Find your next career opportunity and join our team to make a difference.">
  <meta name="keywords" content="CORE job openings, career opportunities, job listings, join CORE, employment, job search">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="CORE Job Openings">
  <meta property="og:description" content="Explore job openings at CORE. Find your next career opportunity and join our team to make a difference.">
  <meta property="og:image" content="/img/core.png">
  <meta property="og:url" content="https://getcore.dev/openings">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="CORE Job Openings">
  <meta name="twitter:description" content="Explore job openings at CORE. Find your next career opportunity and join our team to make a difference.">
  <meta name="twitter:image" content="/img/core.png">
</head>

<body>
  <%- include('partials/navbar', { pagePath: 'jobs' }) %>
  <main>

    <%- include('partials/com-btn-container', { }) %>

    <div class="jobs-container">
      <div class="jobs-header">

        <div class="jobs-search-container flex flex-col gap-03">
          <input type="text" id="job-search-input" class="job-posting-search-input" placeholder="Search jobs & companies" />
          <div class="flex flex-col active-filters-container">
            <p id="active-filters-sentence" class="active-filters-sentence mini-text"></p>
          </div>
        </div>
        <div class="jobs-buttons v-center">
          <span class="recent-jobs-count-container">
            <div class="radar-pulse">
              <div class="circle"></div>
              <div class="pulse"></div>
              <div class="pulse"></div>
            </div>
            <span class="flex flex-col">
              <p class="recent-jobs-count mini-text primary-text" id="recent-jobs-count">
              </p>
            </span>
          </span>
          <% if (user) { %>
          <a class="link mini-text" id="applied-jobs-link" href="/jobs/applied">
            Applied Jobs
          </a>
          <% } %>
        </div>
        <% if (user) { %>

        <div class="jobs-buttons admin-job-buttons">
          <% if (user.isAdmin) { %>
          <div class="flex flex-row gap-06 v-center">
            <a class="link mini-text" href="/jobs/create">
              + Job Posting
            </a>
            <a class="link mini-text" href="/jobs/create-company">
              + Company
            </a>
            <a class="link mini-text" href="/jobs/create-company-queue">
              + Company (Queue)
            </a>
          </div>
          <% } %>
        </div>

        <% } %>

        <ul class="flex flex-row w-100 gap-06 wrap no-margin">
          <div class="dropdown" tabindex="0">
            <button aria-label="Experience Level" class="dropdown-button experience-dropdown px-4 py-2 mini-text secondary-text" aria-haspopup="true" aria-expanded="false">
              Experience Level
              <span class="arrow">&#9662;</span>
            </button>

            <div class="dropdown-content">
              <% const experienceLevels = ["Internship", "Entry Level", "Junior", "Senior", "Lead", "Manager", "Director", "VP"]; %>
              <% experienceLevels.forEach(level => { %>
              <a class="w-100">
                <button class="quick-option-btn no-bg no-border w-100 mini-text" data-type="job-levels" data-id="undefined" data-name="<%= level %>" onclick="toggleSelectedFilter(event)"><%= level %></button>
              </a>
              <% }); %>
            </div>
          </div>

          <div class="dropdown" tabindex="0">
            <button aria-label="Location" class="dropdown-button location-dropdown px-4 py-2 mini-text secondary-text" aria-haspopup="true" aria-expanded="false">
              Location
              <span class="arrow">&#9662;</span>
            </button>

            <div class="dropdown-content">
              <input type="text" id="location-search-input" class="location-search-input" placeholder="Search locations" />
              <% const states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]; %>
              <% states.forEach(state => { %>
              <a class="w-100">
                <button class="quick-option-btn no-bg no-border w-100 mini-text" data-type="job-locations" data-id="undefined" data-name="<%= state %>" onclick="toggleSelectedFilter(event)"><%= state %></button>
              </a>
              <% }); %>
            </div>
          </div>

          <button aria-label="Reset Filters" class="dropdown-button no-bg no-border link clear-button px-4 py-2 mini-text secondary-text" aria-haspopup="true" aria-expanded="false" type="button" onclick="resetState()">
            Reset Filters
          </button>
        </ul>
        <div class="jobs-selected-filters">
        </div>
        <% if (errorMessages && errorMessages.length > 0) { %>
        <div class="error-messages">
          <div class="error-message-glyph">
            <span class="material-symbols-outlined">
              warning
            </span>
          </div>
          <div class="error-message-text">
            <% errorMessages.forEach(function(msg) { %>
            <p class="error-message"><%= msg %></p>
            <% }); %>
          </div>
        </div>
        <% } %>
        <% if (successMessages && successMessages.length > 0) { %>
        <div class="success-messages">
          <% successMessages.forEach(function(msg) { %>
          <p class="success-message"><%= msg %></p>
          <% }); %>
        </div>
        <% } %>
      </div>

      <div id="recent-job-list" class="recent-job-list">
      </div>
      <div id="personalized-job-list" class="job-list">
      </div>
      <div class="load-more">
        <button class="load-more-btn flex flex-row gap-06 main-button" id="load-more-btn">
          <div id="loading-indicator">
            <div class="spinner-container">
              <div class="spinner"></div>
            </div>
          </div>
          <p class="sub-text">Load More</p>
        </button>

      </div>
      <%- include('partials/footer') %>

    </div>
    <%- include('partials/right-side-container') %>


    </div>

  </main>

  <script src="/js/jobs.js"></script>
</body>

</html>