<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE - Job Postings</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/jobs.css" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/com-btn-container.css" />
  <link rel="shortcut icon" href="/img/core.png" />

  <meta name="description" content="Explore job openings at CORE. Find your next career opportunity and join our team to make a difference.">
  <meta name="keywords" content="CORE job openings, career opportunities, job listings, join CORE, employment, job search">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="CORE Job Openings">
  <meta property="og:description" content="Explore job openings at CORE. Find your next career opportunity and join our team to make a difference.">
  <meta property="og:image" content="/img/core.png">
  <meta property="og:url" content="https://getcore.dev/openings">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="CORE Job Openings">
  <meta name="twitter:description" content="Explore job openings at CORE. Find your next career opportunity and join our team to make a difference.">
  <meta name="twitter:image" content="/img/core.png">
</head>

<body>
  <%- include('partials/navbar', { pagePath: 'jobs' }) %>
  <main>

    <%- include('partials/com-btn-container', { }) %>

    <div class="jobs-container">
      <div class="jobs-header">

        <div class="jobs-buttons">
          <span class="recent-jobs-count-container">
            <div class="radar-pulse">
              <div class="circle"></div>
              <div class="pulse"></div>
              <div class="pulse"></div>
            </div>
            <p class="recent-jobs-count sub-text third-text" id="recent-jobs-count">
            </p>
          </span>
          <% if (user) { %>
          <a class="link sub-text" href="/jobs/applied">
            Applied Jobs
          </a>
          <% } %>
        </div>
        <% if (user) { %>
        <% if (user.isAdmin) { %>
        <div class="jobs-buttons admin-job-buttons">
          <a class="link sub-text" href="/jobs/create">
            + Job Posting
          </a>
          <a class="link sub-text" href="/jobs/company-link/create">
            + Company Profile
          </a>
        </div>
        <% } %>
        <% } %>

        <div class="jobs-search-container">
          <input type="text" id="job-search-input" class="job-posting-search-input" placeholder="Search jobs & companies" />
        </div>
        <div class="quick-options" id="horizontal-scroll">
          <button class="quick-option-btn null-button-normal" data-type="job-levels" data-id="undefined" data-name="Internship" id="all-jobs-btn" onclick="toggleSelectedFilter(event)">Internships</button>
          <button class="quick-option-btn null-button-normal" data-type="job-levels" data-id="undefined" data-name="Entry Level" id="all-jobs-btn" onclick="toggleSelectedFilter(event)">New-Grad</button>
          <button class="quick-option-btn null-button-normal" data-type="job-levels" data-id="undefined" data-name="Mid Level" id="all-jobs-btn" onclick="toggleSelectedFilter(event)">Junior</button>
          <button class="quick-option-btn null-button-normal" data-type="job-levels" data-id="undefined" data-name="Senior" id="all-jobs-btn" onclick="toggleSelectedFilter(event)">Senior</button>
          <button class="quick-option-btn null-button-normal" data-type="job-levels" data-id="undefined" data-name="Lead" id="all-jobs-btn" onclick="toggleSelectedFilter(event)">Lead</button>
          <button class="quick-option-btn null-button-normal" data-type="job-levels" data-id="undefined" data-name="Manager" id="all-jobs-btn" onclick="toggleSelectedFilter(event)">Manager</button>
          <button class="quick-option-btn null-button-normal" data-type="job-levels" data-id="undefined" data-name="Director" id="all-jobs-btn" onclick="toggleSelectedFilter(event)">Director</button>
          <button class="quick-option-btn null-button-normal" data-type="job-levels" data-id="undefined" data-name="VP" id="all-jobs-btn" onclick="toggleSelectedFilter(event)">VP</button>
        </div>
        <div class="quick-options" id="horizontal-scroll">

        </div>
        <div class="jobs-selected-filters">
        </div>
        <% if (errorMessages && errorMessages.length > 0) { %>
        <div class="error-messages">
          <div class="error-message-glyph">
            <span class="material-symbols-outlined">
              warning
            </span>
          </div>
          <div class="error-message-text">
            <% errorMessages.forEach(function(msg) { %>
            <p class="error-message"><%= msg %></p>
            <% }); %>
          </div>
        </div>
        <% } %>
        <% if (successMessages && successMessages.length > 0) { %>
        <div class="success-messages">
          <% successMessages.forEach(function(msg) { %>
          <p class="success-message"><%= msg %></p>
          <% }); %>
        </div>
        <% } %>
      </div>

      <div id="recent-job-list" class="recent-job-list">
      </div>
      <div id="personalized-job-list" class="job-list">
      </div>
      <div class="load-more">
        <button class="load-more-btn regular-button" id="load-more-btn">Load More</button>
        <div id="loading-indicator">
          <div class="spinner-container">
            <div class="spinner"></div>
          </div>
        </div>

      </div>
      <%- include('partials/footer') %>

    </div>
    <%- include('partials/right-side-container') %>


    </div>

  </main>

  <script src="/js/jobs.js"></script>
</body>

</html>