<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE - <%= link %> Redirect</title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/login.css" />

  <link rel="shortcut icon" href="/img/core.png" />
</head>
<style>
  .account-stuff {
    padding: 15px 13px !important;
    box-sizing: border-box;
  }

  .account-stuff h3 {
    margin-bottom: .3rem;
  }

  .account-stuff .user-res {
    margin-bottom: .9rem;
  }
</style>

<body>
  <%- include('partials/navbar', { pagePath: 'updates' }) %>
  <main>
    <div class="account-stuff">
      <h3>Redirecting to <%= link %></h3>
      <div class="user-res">
        If you are not redirected, click <a href="<%= link %>">here</a>
      </div>
      <div class="link-countdown">
        <p id="countdown">Redirecting in 3 seconds...</p>
        <div class="loader"></div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      let countdown = 3;
      const countdownElement = document.getElementById('countdown');

      const intervalId = setInterval(() => {
        countdown--;
        countdownElement.textContent = `Redirecting in ${countdown} seconds...`;

        if (countdown === 0) {
          clearInterval(intervalId);
          window.location.href = "<%= link %>";
        }
      }, 1000);
    });
  </script>
</body>

</html>