<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/search.css" />
  <link rel="stylesheet" href="/css/jobs.css" />

  <link rel="shortcut icon" href="/img/core.png" />
  <title>Search Results - <%= searchTerm %></title>
</head>

<body>
  <%- include('partials/navbar', { pagePath: 'search', user: user }) %>

  <div class="container">
    <div id="posts-container" class="column">
      <h2>Search Results for '<%= searchTerm %>'</h3>
        <% if (users.length > 0) { %>
        <h3>Users</h3>
        <div class="posts">
          <% users.forEach(function(user) { %>
          <div class="user" onclick="window.location.href='/user/<%= user.username %>'">
            <div class="user-image">
              <% if (user.avatar) { %>
              <img id="user-avatar" src="<%= user.avatar %>" alt="Profile Picture" style="  box-shadow: 0 1px 10px <%= user.profile_border_color%>;
  border: 1px solid <%= user.profile_border_color%> !important;" />
              <% } else { %>
              <img id="user-avatar" src="/img/default-avatar.png" alt="Avatar" class="avatar" />
              <% } %>
            </div>
            <div class="search-user-info">
              <p><%= user.firstname %> <%= user.lastname %></p>
              <p><%= user.username%></p>
            </div>
          </div>
          <% }); %>
          <% } else { %>
          <% } %>

          <% if (jobs.length > 0) { %>
          <h3>Jobs</h3>
          <div class="jobs">
            <% if (jobs.length > 4  && (users.length > 0 || posts.length > 0)) { %>
            <% jobsTrimmed = jobs.slice(0, 4); %>
            <% } else { %>
            <% jobsTrimmed = jobs; %>
            <% } %>

            <% jobsTrimmed.forEach((job) => { %>
            <div class="job" onclick="window.location.href='/jobs/<%= job.id %>'">
              <div class="job-preview">
                <div class="job-info">
                  <div class="company-info">
                    <img class="thumbnail thumbnail-tiny" src="<%= job.company_logo %>" alt="<%= job.company_name %> logo" />
                    <p class="company-name"><%= job.company_name %></p>
                  </div>
                  <h3 class="job-title">
                    <%= job.title %>
                    <span style="margin-left: auto; float: right;"><%= job.experienceLevel[0].toUpperCase() + job.experienceLevel.slice(1) %></span>
                  </h3>
                  <h5 class="job-subtitle secondary-text">
                    <span style="margin-left: auto; float:right;">USD $<%= Math.floor((job.salary + job.salary_max) / 2 / 1000) %>k</span>
                    <%= job.location %>
                  </h5>
                  <div class="job-main">
                    <div class="job-description">
                      <p class="job-description"><%= job.description %></p>
                    </div>
                  </div>
                  <div class="job-posting-flairs">
                    <% const tagsArray = job.tags && job.tags[1] ? job.tags[1].split(", ") : []; %>
                    <% const maxTags = 3; %>
                    <% const displayedTags = tagsArray.slice(0, maxTags); %>
                    <% displayedTags.forEach((tag) => { %>
                    <span class="job-flair" onclick="window.location.href='/tags/<%= tag %>'">
                      <p><%= tag %></p>
                    </span>
                    <% }); %>
                    <% const remainingTags = tagsArray.length - maxTags; %>
                    <% if (remainingTags > 0) { %>
                    <span class="see-more">+<%= remainingTags %> more</span>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>

            <% if (jobs.length > 4 && (users.length > 0 || posts.length > 0)) { %>
            <div class="load-more">
              <button class="load-more-btn" id="regular-button" onclick="window.location.href='/search/jobs/?searchTerm=<%= searchTerm %>'">Load More</button>
            </div>
            <% } %>
          </div>
          <% } else { %>
          <% } %>


          <% if (posts.length > 0) { %>
          <h3>Posts</h3>

          <div class="posts">

            <% if (posts.length > 4 && (jobs.length > 0 || users.length > 0)) { %>
            <% postsTrimmed = posts.slice(0, 4); %>
            <% } %>
            <% postsTrimmed.forEach(function(post) { %>
            <div class="post" onclick="window.location.href='/posts/<%= post.id %>'">

              <div class="post-content">

                <div class="post-header">
                  <div class="post-header-username">
                    <div class="avatar">
                      <img src="<%= post.author_avatar %>" loading="lazy" alt="Avatar">
                    </div>
                    <div class="username">
                      <a class="username-link" href="/user/<%= post.author_username %>"><strong><%= post.author_username %></strong></a>
                      <span class="communities-text"></span>
                      <a class="community" href="/c/<%= post.community_name %>"></a>
                      <div class="post-date" id="secondary-text">
                        <span style="color:<%= post.community_color %>;"><%= post.community_name %></span>
                        <span> • <%= new Date(post.created_at).toLocaleDateString() %> • <%= post.views %> views</span>
                      </div>
                    </div>
                  </div>
                  <div class="three-dots" onclick="event.stopPropagation(); navigator.share({ url: window.location.origin + '/posts/' + post.id })">
                    <span class="material-symbols-outlined" style="font-weight: 300; font-size: 22px;">more_horiz</span>
                  </div>
                </div>

                <div class="title" onclick="window.location.href='/posts/<%= post.id %>'"><%= post.title %></div>

                <div class="link-preview" onclick="window.location.href='/posts/<%= post.id %>'">
                  <% if (post.link) { %>
                  <div class="link">
                    <div class="placeholder-link-preview">Loading link preview...</div>
                  </div>
                  <% } %>

                  <% const imageUrlMatch = post.content.match(/!\[.*?\]\((.*?)\)/); %>
                  <% if (imageUrlMatch && imageUrlMatch[1]) { %>
                  <div class="post-thumbnail">
                    <img src="<%= imageUrlMatch[1] %>" alt="Post Thumbnail" class="thumbnail-image" loading="lazy">
                  </div>
                  <% } %>
                  <% if (!post.link) { %>
                  <div class="description"><%= post.content.replace(/(?:\r\n|\r|\n)/g, ' ').replace(/\*\*(.*?)\*\*/g, '$1').replace(/\*(.*?)\*/g, '$1').replace(/__(.*?)__/g, '$1').replace(/_(.*?)_/g, '$1').replace(/!\[.*?\]\(.*?\)/g, '').replace(/\[.*?\]\(.*?\)/g, '$1') %></div>
                  <% } %>
                </div>

                <div class="post-posting-flairs">
                  <% const tagsArray = post.tags && post.tags[1] ? post.tags[1].split(", ") : []; %>
                  <% const maxTags = 3; %>
                  <% const displayedTags = tagsArray.slice(0, maxTags); %>
                  <% displayedTags.forEach((tag) => { %>
                  <span class="job-flair" onclick="window.location.href='/posts/tags/<%= tag %>'">
                    <p><%= tag %></p>
                  </span>
                  <% }); %>
                  <% const remainingTags = tagsArray.length - maxTags; %>
                  <% if (remainingTags > 0) { %>
                  <span class="see-more">+<%= remainingTags %> more</span>
                  <% } %>
                </div>

              </div>
            </div>
            <% }); %>

            <% if (posts.length > 4 && (jobs.length > 0 || users.length > 0)) { %>
            <div class="load-more">
              <button class="load-more-btn" id="regular-button" onclick="window.location.href='/search/posts/?searchTerm=<%= searchTerm %>'">Load More</button>
            </div>
            <% } %>
          </div>
          <% } %>
        </div>
    </div>
</body>

</html>