<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/search.css" />

  <link rel="stylesheet" href="/css/jobs.css" />

  <link rel="shortcut icon" href="/img/core.png" />
  <title>Search Results - <%= searchTerm %></title>
</head>

<body>
  <%- include('partials/navbar', { pagePath: 'search', user: user }) %>

  <div class="container">
    <div id="posts-container" class="column">
      <h2>Search Results for '<%= searchTerm %>'</h3>
        <% if (users.length > 0) { %>
        <h3>Users</h3>
        <div class="posts">
          <% users.forEach(function(user) { %>
          <div class="user" onclick="window.location.href='/user/<%= user.username %>'">
            <div class="user-image">
              <% if (user.avatar) { %>
              <img id="user-avatar" src="<%= user.avatar %>" alt="Profile Picture" style="  box-shadow: 0 1px 10px <%= user.profile_border_color%>;
  border: 1px solid <%= user.profile_border_color%> !important;" />
              <% } else { %>
              <img id="user-avatar" src="/img/default-avatar.png" alt="Avatar" class="avatar" />
              <% } %>
            </div>
            <div class="search-user-info">
              <p><%= user.firstname %> <%= user.lastname %></p>
              <p><%= user.username%></p>
            </div>
          </div>
          <% }); %>
          <% } else { %>
          <% } %>

          <% if (jobs.length > 0) { %>
          <h3>Jobs</h3>
          <div class="jobs">
            <% jobs.forEach((job) => { %>
            <div class="job" onclick="window.location.href='/jobs/<%= job.id %>'">
              <div class="job-preview">
                <div class="job-info">
                  <div class="company-info">
                    <img class="thumbnail thumbnail-tiny" src="<%= job.company_logo %>" alt="<%= job.company_name %> logo" />
                    <p class="company-name"><%= job.company_name %></p>
                    <form id="favorite-form-<%= job.id %>" action="/favorites/jobs/<%= job.id %>" method="POST" style="margin-left: auto;">
                      <button type="submit" style="margin-left:auto; background: 0; border:0;">
                        <span class="material-symbols-outlined" style="font-size:1.2rem;">star</span>
                      </button>
                    </form>
                  </div>
                  <h3 class="job-title">
                    <%= job.title %>
                    <span style="margin-left: auto; float: right;"><%= job.experienceLevel[0].toUpperCase() + job.experienceLevel.slice(1) %></span>
                  </h3>
                  <h5 class="job-subtitle secondary-text">
                    <span style="margin-left: auto; float:right;">USD $<%= Math.floor((job.salary + job.salary_max) / 2 / 1000) %>k</span>
                    <%= job.location %>
                  </h5>
                  <div class="job-main">
                    <div class="job-description">
                      <p class="job-description"><%= job.description %></p>
                    </div>
                    <div class="job-buttons">
                      <button class="job-apply" id="submit-button-normal" style="padding: 5px 10px">Apply</button>
                    </div>
                  </div>
                  <div class="job-posting-flairs">
                    <% const tagsArray = job.tags && job.tags[1] ? job.tags[1].split(", ") : []; %>
                    <% const maxTags = 3; %>
                    <% const displayedTags = tagsArray.slice(0, maxTags); %>
                    <% displayedTags.forEach((tag) => { %>
                    <span class="job-flair" style="background-color: <%= getTintFromName(tag) %>9c; border: 1px solid <%= getTintFromName(tag) %>;">
                      <p><%= tag %></p>
                    </span>
                    <% }); %>
                    <% const remainingTags = tagsArray.length - maxTags; %>
                    <% if (remainingTags > 0) { %>
                    <span class="see-more">+<%= remainingTags %> more</span>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
          <% } else { %>
          <% } %>


          <% if (posts.length > 0) { %>
          <h3>Posts</h3>

          <div class="posts">
            <% posts.forEach(function(post) { %>
            <div class="post" onclick="window.location.href='/posts/<%= post.id %>'">
              <div class="post-content">

                <div class="post-header">
                  <p><a href="/c/<%=post.community_name%>">/<%= post.community_name %></a> by <a href="/user/<%= post.author_username %>"><%= post.author_username %></a> </p>
                  <h4><%= post.title %></h4>
                  <p><%= new Date(post.created_at).toLocaleDateString() %></p>
                </div>
                <div class="search-post-content">
                  <p class="description"><%= post.content %></p>
                  <% if (post.link) { %>
                  <% } %>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
          <% } %>
        </div>
    </div>
</body>

</html>