<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE/Settings</title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/settings.css" />
  <link rel="shortcut icon" href="/img/core.png" />
</head>
<style>
</style>

<body>
  <%- include('partials/navbar', { pagePath: 'settings' }) %>
  <main>
    <div class="settings-container">
      <div class="settings-header">
        <h4>Settings</h4>
      </div>
      <div class="settings-body">
        <label>
          <input type="checkbox" id="settings_PrivateJobNames" name="settings_PrivateJobNames"> Company names are private
        </label>
        <label>
          <input type="checkbox" id="settings_PrivateSchoolNames" name="settings_PrivateSchoolNames"> University names are private
        </label>
        <div class="settings-submit-button">
          <button type="submit" class="submit-button-normal" onclick="saveSettings()">Save</button>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>

    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        const isPrivateJobNames = <%= user.settings_PrivateJobNames ? 'true' : 'false' %>;
        const isPrivateSchoolNames = <%= user.settings_PrivateSchoolNames ? 'true' : 'false' %>;

        if (isPrivateJobNames) {
          document.getElementById("settings_PrivateJobNames").checked = true;
        }

        if (isPrivateSchoolNames) {
          document.getElementById("settings_PrivateSchoolNames").checked = true;
        }
      });

      function saveSettings() {
        const PrivateJobNames = document.getElementById("settings_PrivateJobNames").checked;
        const PrivateSchoolNames = document.getElementById("settings_PrivateSchoolNames").checked;
        // Send the state to the server using AJAX or fetch API
        fetch(`/user/${<%= user.id %>}/settings`, {
            method: 'POST',
            body: JSON.stringify({
              settings_PrivateJobNames: PrivateJobNames,
              settings_PrivateSchoolNames: PrivateSchoolNames
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(response => {
            if (response.ok) {
              showBannerNotification('Settings saved successfully');
            } else {
              showBannerNotification('Failed to save settings');
            }
          })
          .catch(error => {
            console.error('An error occurred while saving settings:', error);
          });
      }
    </script>
  </main>
</body>

</html>