<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE/updates</title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/updates.css" />
  <link rel="shortcut icon" href="/img/core.png" />
</head>
<style>
</style>

<body>
  <%- include('partials/navbar', { pagePath: 'updates' }) %>
  <main>
    <div id="updates-header">
    </div>
    <div id="commits-container">
      <% updates.forEach((update) => { %>
      <div class="update">
        <div class="update-header">
          <%= update.title %>
        </div>
        <div class="update-body">
          <p><%= update.content %></p>
        </div>
        <div class="update-link">
          <a href="<%= update.pull_request_url %>"><%= update.pull_request_url %></a>
        </div>
        <div class="update-footer">
          <p><%= update.post_date %></p>
        </div>
      </div>
      <% }) %>
    </div>
    <%- include('partials/footer') %>
  </main>
  <script>
  </script>
</body>

</html>