<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/user_profile.css" />
  </head>
  <body>
    <%- include('partials/navbar', { pagePath: 'communities' }) %>

    <div id="profile" class="grid-container">
      <div class="profile-info">
        <p><%= user.username %></p>
        <p><%= user.email %></p>
      </div>

      <!-- Assuming learningprogress is a JSON object -->
      <div class="learning-progress">
        <h2>Learning Progress</h2>
        <% if(user.learningprogress) { %> <%
        Object.keys(user.learningprogress).forEach(function(key) { %>
        <p><strong><%= key %>:</strong> <%= user.learningprogress[key] %> %</p>
        <% }); %> <% } else { %>
        <p>No learning progress yet.</p>
        <% } %>
      </div>

      <!-- Assuming achievements is an array -->
      <div class="achievements">
        <h2>Achievements</h2>
        <% if (user.achievements && user.achievements.length) { %> <%
        user.achievements.forEach(function(achievement) { %>
        <p><%= achievement %></p>
        <% }); %> <% } else { %>
        <p>No achievements yet.</p>
        <% } %>
      </div>

      <!-- Current job information -->
      <div class="current-job">
        <h2>Current Job</h2>
        <% if (user.currentjob) { %>
        <p><strong>Company:</strong> <%= user.currentjob.company %></p>
        <p><strong>Position:</strong> <%= user.currentjob.position %></p>
        <!-- Include other job details as needed -->
        <% } else { %>
        <p>No current job information.</p>
        <% } %>
      </div>

      <!-- Other sections like badges, posts, comments can be included similar to the above -->
    </div>
  </body>
</html>
